<system version="1">
  <cpu numaid="0" affinity="0000,0fffff00,000fffff" arch="x86_64" vendor="GenuineIntel" familyid="6" modelid="0">
    <pci busid="0000:03:00.0" class="0x060400" link_speed="8 GT/s" link_width="16">
      <pci busid="0000:06:00.0" class="0x030200" link_speed="8 GT/s" link_width="16">
        <gpu dev="0" sm="70" rank="0" gdr="1">
          <nvlink target="0000:07:00.0" count="1" tclass="0x030200"/>
          <nvlink target="0000:0a:00.0" count="1" tclass="0x030200"/>
          <nvlink target="0000:0b:00.0" count="2" tclass="0x030200"/>
          <nvlink target="0000:85:00.0" count="2" tclass="0x030200"/>
        </gpu>
      </pci>
      <pci busid="0000:07:00.0" class="0x030200" link_speed="8 GT/s" link_width="16">
        <gpu dev="1" sm="70" rank="1" gdr="1">
          <nvlink target="0000:86:00.0" count="2" tclass="0x030200"/>
          <nvlink target="0000:0a:00.0" count="2" tclass="0x030200"/>
          <nvlink target="0000:0b:00.0" count="1" tclass="0x030200"/>
          <nvlink target="0000:06:00.0" count="1" tclass="0x030200"/>
        </gpu>
      </pci>
      <pci busid="0000:05:00.0" class="0x020700" link_speed="8 GT/s" link_width="16">
        <nic type="infiniband">
          <net name="mlx5_0" port="1" guid="0xb8599f03004eb948" speed="100000" dev="2" gdr="1"/>
        </nic>
      </pci>
    </pci>
    <pci busid="0000:08:00.0" class="0x060400" link_speed="8 GT/s" link_width="16">
      <pci busid="0000:0a:00.0" class="0x030200" link_speed="8 GT/s" link_width="16">
        <gpu dev="2" sm="70" rank="2" gdr="1">
          <nvlink target="0000:89:00.0" count="1" tclass="0x030200"/>
          <nvlink target="0000:0b:00.0" count="2" tclass="0x030200"/>
          <nvlink target="0000:06:00.0" count="1" tclass="0x030200"/>
          <nvlink target="0000:07:00.0" count="2" tclass="0x030200"/>
        </gpu>
      </pci>
      <pci busid="0000:0b:00.0" class="0x030200" link_speed="8 GT/s" link_width="16">
        <gpu dev="3" sm="70" rank="3" gdr="1">
          <nvlink target="0000:06:00.0" count="2" tclass="0x030200"/>
          <nvlink target="0000:07:00.0" count="1" tclass="0x030200"/>
          <nvlink target="0000:0a:00.0" count="2" tclass="0x030200"/>
          <nvlink target="0000:8a:00.0" count="1" tclass="0x030200"/>
        </gpu>
      </pci>
      <pci busid="0000:0c:00.0" class="0x020700" link_speed="8 GT/s" link_width="16">
        <nic type="infiniband">
          <net name="mlx5_1" port="1" guid="0xb8599f03004eb9f4" speed="100000" dev="0" gdr="1"/>
        </nic>
      </pci>
    </pci>
  </cpu>
  <cpu numaid="1" affinity="ffff,f00000ff,fff00000" arch="x86_64" vendor="GenuineIntel" familyid="6" modelid="0">
    <pci busid="0000:82:00.0" class="0x060400" link_speed="8 GT/s" link_width="16">
      <pci busid="0000:85:00.0" class="0x030200" link_speed="8 GT/s" link_width="16">
        <gpu dev="4" sm="70" rank="4" gdr="1">
          <nvlink target="0000:06:00.0" count="2" tclass="0x030200"/>
          <nvlink target="0000:86:00.0" count="1" tclass="0x030200"/>
          <nvlink target="0000:89:00.0" count="1" tclass="0x030200"/>
          <nvlink target="0000:8a:00.0" count="2" tclass="0x030200"/>
        </gpu>
      </pci>
      <pci busid="0000:86:00.0" class="0x030200" link_speed="8 GT/s" link_width="16">
        <gpu dev="5" sm="70" rank="5" gdr="1">
          <nvlink target="0000:89:00.0" count="2" tclass="0x030200"/>
          <nvlink target="0000:8a:00.0" count="1" tclass="0x030200"/>
          <nvlink target="0000:85:00.0" count="1" tclass="0x030200"/>
          <nvlink target="0000:07:00.0" count="2" tclass="0x030200"/>
        </gpu>
      </pci>
      <pci busid="0000:84:00.0" class="0x020700" link_speed="8 GT/s" link_width="16">
        <nic type="infiniband">
          <net name="mlx5_2" port="1" guid="0xb8599f03004eba14" speed="100000" dev="3" gdr="1"/>
        </nic>
      </pci>
    </pci>
    <pci busid="0000:87:00.0" class="0x060400" link_speed="8 GT/s" link_width="16">
      <pci busid="0000:89:00.0" class="0x030200" link_speed="8 GT/s" link_width="16">
        <gpu dev="6" sm="70" rank="6" gdr="1">
          <nvlink target="0000:8a:00.0" count="2" tclass="0x030200"/>
          <nvlink target="0000:85:00.0" count="1" tclass="0x030200"/>
          <nvlink target="0000:86:00.0" count="2" tclass="0x030200"/>
          <nvlink target="0000:0a:00.0" count="1" tclass="0x030200"/>
        </gpu>
      </pci>
      <pci busid="0000:8a:00.0" class="0x030200" link_speed="8 GT/s" link_width="16">
        <gpu dev="7" sm="70" rank="7" gdr="1">
          <nvlink target="0000:0b:00.0" count="1" tclass="0x030200"/>
          <nvlink target="0000:85:00.0" count="2" tclass="0x030200"/>
          <nvlink target="0000:86:00.0" count="1" tclass="0x030200"/>
          <nvlink target="0000:89:00.0" count="2" tclass="0x030200"/>
        </gpu>
      </pci>
      <pci busid="0000:8b:00.0" class="0x020700" link_speed="8 GT/s" link_width="16">
        <nic type="infiniband">
          <net name="mlx5_3" port="1" guid="0xb8599f03004eb9ec" speed="100000" dev="1" gdr="1"/>
        </nic>
      </pci>
    </pci>
  </cpu>
</system>
