# Copyright (c) 2015-2016, NVIDIA CORPORATION. All rights reserved.
/build*
*.sh
failed/
junits/
*.xml
/ext-net/ib_sharp/build/
/ext-net/example/*.so
/ext-mixed/example/*.so
/ext-net/mock/*.so
*.gcov
/coverage/
tags
*.swp
