# Copyright (c) 2015-2026, NVIDIA CORPORATION & AFFILIATES. ALL RIGHTS RESERVED.
#
# SPDX-License-Identifier: Apache-2.0
/build*
failed/
junits/
*.xml
/plugins/net/ib_sharp/build/
/plugins/net/example/*.so
/plugins/mixed/example/*.so
/plugins/net/mock/*.so
*.gcov
/coverage/
tags
*.swp

# Example build artifacts
*.o
examples/**/multiple_devices_single_process
examples/**/one_device_per_pthread
examples/**/one_device_per_process_mpi
examples/**/ring_pattern
examples/**/allreduce
examples/**/allreduce_ub
examples/**/allreduce_sm
examples/**/allreduce_device_api
