<system version="1">
  <cpu host_hash="0x998e2e67486c9c70" numaid="-1" arch="arm64">
    <pci busid="0000:01:00.0" class="0x020000" vendor="0x15b3" device="0x1021" subsystem_vendor="0x15b3" subsystem_device="0x0051" link_speed="32.0 GT/s PCIe" link_width="4">
      <nic>
        <net name="enp1s0f0np0" dev="0" latency="0" speed="10000" port="0" guid="0x1" maxconn="65536" gdr="0"/>
      </nic>
    </pci>
    <pci busid="0000:01:00.1" class="0x020000" vendor="0x15b3" device="0x1021" subsystem_vendor="0x15b3" subsystem_device="0x0051" link_speed="32.0 GT/s PCIe" link_width="4">
      <nic>
        <net name="enp1s0f1np1" dev="1" latency="0" speed="10000" port="1" guid="0x2" maxconn="65536" gdr="0"/>
      </nic>
    </pci>
    <pci busid="000f:01:00.0" class="0x030200" vendor="0x10de" device="0x2e2a" subsystem_vendor="0x0000" subsystem_device="0x0000" link_speed="2.5 GT/s PCIe" link_width="16">
      <gpu dev="0" sm="121" rank="0" gdr="0">
        <c2c bw="43125" count="8"/>
      </gpu>
    </pci>
  </cpu>
</system>
