<system version="1">
  <cpu numaid="0" affinity="00,003ffff0,0003ffff" arch="x86_64" vendor="GenuineIntel" familyid="6" modelid="85">
    <pci busid="0000:18:00.0" class="0x060400" link_speed="8 GT/s" link_width="16">
      <pci busid="0000:1a:00.0" class="0x030200" link_speed="8 GT/s" link_width="16">
        <gpu dev="0" sm="70" rank="0" gdr="0"/>
      </pci>
      <pci busid="0000:1b:00.0" class="0x030200" link_speed="8 GT/s" link_width="16">
        <gpu dev="1" sm="70" rank="1" gdr="0"/>
      </pci>
    </pci>
    <pci busid="0000:3b:00.0" class="0x060400" link_speed="8 GT/s" link_width="16">
      <pci busid="0000:3d:00.0" class="0x030200" link_speed="8 GT/s" link_width="16">
        <gpu dev="2" sm="70" rank="2" gdr="0"/>
      </pci>
      <pci busid="0000:3e:00.0" class="0x030200" link_speed="8 GT/s" link_width="16">
        <gpu dev="3" sm="70" rank="3" gdr="0"/>
      </pci>
    </pci>
    <pci busid="0000:5e:00.0" class="0x020700" link_speed="8 GT/s" link_width="8">
      <nic type="infiniband">
        <net name="mlx5_0" port="1" guid="0x248a070300a469d0" speed="100000" dev="1" gdr="0"/>
      </nic>
    </pci>
  </cpu>
  <cpu numaid="1" affinity="ff,ffc0000f,fffc0000" arch="x86_64" vendor="GenuineIntel" familyid="6" modelid="85">
    <pci busid="0000:86:00.0" class="0x060400" link_speed="8 GT/s" link_width="16">
      <pci busid="0000:88:00.0" class="0x030200" link_speed="8 GT/s" link_width="16">
        <gpu dev="4" sm="70" rank="4" gdr="0"/>
      </pci>
      <pci busid="0000:89:00.0" class="0x030200" link_speed="8 GT/s" link_width="16">
        <gpu dev="5" sm="70" rank="5" gdr="0"/>
      </pci>
    </pci>
    <pci busid="0000:af:00.0" class="0x060400" link_speed="8 GT/s" link_width="16">
      <pci busid="0000:b1:00.0" class="0x030200" link_speed="8 GT/s" link_width="16">
        <gpu dev="6" sm="70" rank="6" gdr="0"/>
      </pci>
      <pci busid="0000:b2:00.0" class="0x030200" link_speed="8 GT/s" link_width="16">
        <gpu dev="7" sm="70" rank="7" gdr="0"/>
      </pci>
    </pci>
    <pci busid="0000:da:00.0" class="0x020700" link_speed="8 GT/s" link_width="8">
      <nic type="infiniband">
        <net name="mlx5_1" port="1" guid="0x248a070300a48a6c" speed="100000" dev="0" gdr="0"/>
      </nic>
    </pci>
  </cpu>
</system>
