<!DOCTYPE html>
<html>
<head>
<title>NCCL-${plc:item} : ${plc:title}</title>
<link rel="stylesheet" type="text/css" href="../../html/css/doc.css">
</head>
<body>
<h3>NCCL-${plc:item} : ${plc:title}</h3>
<p><a href=NCCL-Req-${plc:item}.html>Requirements</a> (<a href=NCCL-Req-${plc:item}.pdf>PDF</a>)
<p><a href=NCCL-Design-${plc:item}.html>Design</a> (<a href=NCCL-Design-${plc:item}.pdf>PDF</a>)
<p><a href=NCCL-Testing-${plc:item}.html>Testing</a> (<a href=NCCL-Testing-${plc:item}.pdf>PDF</a>)
<p><a href=NCCL-Coding-${plc:item}.html>Coding</a> (<a href=NCCL-Coding-${plc:item}.pdf>PDF</a>)
</body></html>
