<system version="1">
  <cpu numaid="0" affinity="00000000,000000ff,ffffffff,ffff0000,00000000,00ffffff,ffffffff" arch="x86_64" vendor="GenuineIntel" familyid="6" modelid="143">
    <pci busid="0000:16:00.0" class="0x060400" vendor="0x15b3" device="0x1979" subsystem_vendor="0x0000" subsystem_device="0x0000" link_speed="32.0 GT/s PCIe" link_width="16">
      <pci busid="0000:19:00.0" class="0x060400" vendor="0x15b3" device="0x1979" subsystem_vendor="0x0000" subsystem_device="0x0000" link_speed="32.0 GT/s PCIe" link_width="16">
        <pci busid="0000:1b:00.0" class="0x030200" vendor="0x10de" device="0x2330" subsystem_vendor="0x10de" subsystem_device="0x16c1" link_speed="32.0 GT/s PCIe" link_width="16">
          <gpu dev="0" sm="90" rank="0" gdr="1">
            <nvlink target="0000:08:00.0" count="5" tclass="0x068000"/>
            <nvlink target="0000:0a:00.0" count="4" tclass="0x068000"/>
            <nvlink target="0000:09:00.0" count="5" tclass="0x068000"/>
            <nvlink target="0000:07:00.0" count="4" tclass="0x068000"/>
          </gpu>
        </pci>
      </pci>
      <pci busid="0000:18:00.0" class="0x020700" vendor="0x15b3" device="0x1021" subsystem_vendor="0x15b3" subsystem_device="0x0050" link_speed="32.0 GT/s PCIe" link_width="16">
        <nic>
          <net name="mlx5_0" dev="0" speed="400000" port="1" guid="0x76710f0003ae6d94" maxconn="1" gdr="1" coll="1" latency="0.000000"/>
        </nic>
      </pci>
    </pci>
    <pci busid="0000:3e:00.0" class="0x060400" vendor="0x15b3" device="0x1979" subsystem_vendor="0x0000" subsystem_device="0x0000" link_speed="32.0 GT/s PCIe" link_width="16">
      <pci busid="0000:41:00.0" class="0x060400" vendor="0x15b3" device="0x1979" subsystem_vendor="0x0000" subsystem_device="0x0000" link_speed="32.0 GT/s PCIe" link_width="16">
        <pci busid="0000:43:00.0" class="0x030200" vendor="0x10de" device="0x2330" subsystem_vendor="0x10de" subsystem_device="0x16c1" link_speed="32.0 GT/s PCIe" link_width="16">
          <gpu dev="1" sm="90" rank="1" gdr="1">
            <nvlink target="0000:08:00.0" count="5" tclass="0x068000"/>
            <nvlink target="0000:09:00.0" count="5" tclass="0x068000"/>
            <nvlink target="0000:0a:00.0" count="4" tclass="0x068000"/>
            <nvlink target="0000:07:00.0" count="4" tclass="0x068000"/>
          </gpu>
        </pci>
      </pci>
      <pci busid="0000:40:00.0" class="0x020700" vendor="0x15b3" device="0x1021" subsystem_vendor="0x15b3" subsystem_device="0x0050" link_speed="32.0 GT/s PCIe" link_width="16">
        <nic>
          <net name="mlx5_3" dev="2" speed="400000" port="1" guid="0x7e710f0003ae6d94" maxconn="1" gdr="1" coll="1" latency="0.000000"/>
        </nic>
      </pci>
    </pci>
    <pci busid="0000:4d:00.0" class="0x060400" vendor="0x15b3" device="0x1979" subsystem_vendor="0x0000" subsystem_device="0x0000" link_speed="32.0 GT/s PCIe" link_width="16">
      <pci busid="0000:50:00.0" class="0x060400" vendor="0x15b3" device="0x1979" subsystem_vendor="0x0000" subsystem_device="0x0000" link_speed="32.0 GT/s PCIe" link_width="16">
        <pci busid="0000:52:00.0" class="0x030200" vendor="0x10de" device="0x2330" subsystem_vendor="0x10de" subsystem_device="0x16c1" link_speed="32.0 GT/s PCIe" link_width="16">
          <gpu dev="2" sm="90" rank="2" gdr="1">
            <nvlink target="0000:08:00.0" count="5" tclass="0x068000"/>
            <nvlink target="0000:0a:00.0" count="4" tclass="0x068000"/>
            <nvlink target="0000:09:00.0" count="5" tclass="0x068000"/>
            <nvlink target="0000:07:00.0" count="4" tclass="0x068000"/>
          </gpu>
        </pci>
      </pci>
      <pci busid="0000:4f:00.0" class="0x020700" vendor="0x15b3" device="0x1021" subsystem_vendor="0x15b3" subsystem_device="0x0050" link_speed="32.0 GT/s PCIe" link_width="16">
        <nic>
          <net name="mlx5_4" dev="3" speed="400000" port="1" guid="0x7a710f0003ae6d94" maxconn="1" gdr="1" coll="1" latency="0.000000"/>
        </nic>
      </pci>
    </pci>
    <pci busid="0000:5c:00.0" class="0x060400" vendor="0x15b3" device="0x1979" subsystem_vendor="0x0000" subsystem_device="0x0000" link_speed="32.0 GT/s PCIe" link_width="16">
      <pci busid="0000:5f:00.0" class="0x060400" vendor="0x15b3" device="0x1979" subsystem_vendor="0x0000" subsystem_device="0x0000" link_speed="32.0 GT/s PCIe" link_width="16">
        <pci busid="0000:61:00.0" class="0x030200" vendor="0x10de" device="0x2330" subsystem_vendor="0x10de" subsystem_device="0x16c1" link_speed="32.0 GT/s PCIe" link_width="16">
          <gpu dev="3" sm="90" rank="3" gdr="1">
            <nvlink target="0000:09:00.0" count="5" tclass="0x068000"/>
            <nvlink target="0000:0a:00.0" count="4" tclass="0x068000"/>
            <nvlink target="0000:07:00.0" count="4" tclass="0x068000"/>
            <nvlink target="0000:08:00.0" count="5" tclass="0x068000"/>
          </gpu>
        </pci>
      </pci>
      <pci busid="0000:5e:00.0" class="0x020700" vendor="0x15b3" device="0x1021" subsystem_vendor="0x15b3" subsystem_device="0x0050" link_speed="32.0 GT/s PCIe" link_width="16">
        <nic>
          <net name="mlx5_5" dev="4" speed="400000" port="1" guid="0x72710f0003ae6d94" maxconn="1" gdr="1" coll="1" latency="0.000000"/>
        </nic>
      </pci>
    </pci>
    <pci busid="0000:25:00.0" class="0x060400" vendor="0x1000" device="0xc030" subsystem_vendor="0x1000" subsystem_device="0x0072" link_speed="32.0 GT/s PCIe" link_width="16">
      <pci busid="0000:27:00.0" class="0x060400" vendor="0x1000" device="0xc030" subsystem_vendor="0x1000" subsystem_device="0x1003" link_speed="5.0 GT/s PCIe" link_width="16">
        <pci busid="0000:29:00.0" class="0x020700" vendor="0x15b3" device="0x1021" subsystem_vendor="0x15b3" subsystem_device="0x0051" link_speed="32.0 GT/s PCIe" link_width="16">
          <nic>
            <net name="mlx5_1" dev="1" speed="200000" port="1" guid="0x4cace70003d23fb8" maxconn="1" gdr="1" coll="1" latency="0.000000"/>
          </nic>
        </pci>
      </pci>
    </pci>
  </cpu>
  <cpu numaid="1" affinity="ffffffff,ffffff00,00000000,0000ffff,ffffffff,ff000000,00000000" arch="x86_64" vendor="GenuineIntel" familyid="6" modelid="143">
    <pci busid="0000:98:00.0" class="0x060400" vendor="0x15b3" device="0x1979" subsystem_vendor="0x0000" subsystem_device="0x0000" link_speed="32.0 GT/s PCIe" link_width="16">
      <pci busid="0000:9a:00.0" class="0x020700" vendor="0x15b3" device="0x1021" subsystem_vendor="0x15b3" subsystem_device="0x0050" link_speed="32.0 GT/s PCIe" link_width="16">
        <nic>
          <net name="mlx5_6" dev="5" speed="400000" port="1" guid="0x46760f0003ae6d94" maxconn="1" gdr="1" coll="1" latency="0.000000"/>
        </nic>
      </pci>
    </pci>
    <pci busid="0000:a6:00.0" class="0x060400" vendor="0x1000" device="0xc030" subsystem_vendor="0x1000" subsystem_device="0x0072" link_speed="32.0 GT/s PCIe" link_width="16">
      <pci busid="0000:a8:00.0" class="0x060400" vendor="0x1000" device="0xc030" subsystem_vendor="0x1000" subsystem_device="0x1003" link_speed="5.0 GT/s PCIe" link_width="16">
        <pci busid="0000:aa:00.0" class="0x020700" vendor="0x15b3" device="0x1021" subsystem_vendor="0x15b3" subsystem_device="0x0051" link_speed="32.0 GT/s PCIe" link_width="16">
          <nic>
            <net name="mlx5_7" dev="6" speed="200000" port="1" guid="0x8cb3e70003d23fb8" maxconn="1" gdr="1" coll="1" latency="0.000000"/>
          </nic>
        </pci>
      </pci>
    </pci>
    <pci busid="0000:be:00.0" class="0x060400" vendor="0x15b3" device="0x1979" subsystem_vendor="0x0000" subsystem_device="0x0000" link_speed="32.0 GT/s PCIe" link_width="16">
      <pci busid="0000:c0:00.0" class="0x020700" vendor="0x15b3" device="0x1021" subsystem_vendor="0x15b3" subsystem_device="0x0050" link_speed="32.0 GT/s PCIe" link_width="16">
        <nic>
          <net name="mlx5_9" dev="7" speed="400000" port="1" guid="0x4e760f0003ae6d94" maxconn="1" gdr="1" coll="1" latency="0.000000"/>
        </nic>
      </pci>
    </pci>
    <pci busid="0000:cc:00.0" class="0x060400" vendor="0x15b3" device="0x1979" subsystem_vendor="0x0000" subsystem_device="0x0000" link_speed="32.0 GT/s PCIe" link_width="16">
      <pci busid="0000:ce:00.0" class="0x020700" vendor="0x15b3" device="0x1021" subsystem_vendor="0x15b3" subsystem_device="0x0050" link_speed="32.0 GT/s PCIe" link_width="16">
        <nic>
          <net name="mlx5_10" dev="8" speed="400000" port="1" guid="0x4a760f0003ae6d94" maxconn="1" gdr="1" coll="1" latency="0.000000"/>
        </nic>
      </pci>
    </pci>
    <pci busid="0000:da:00.0" class="0x060400" vendor="0x15b3" device="0x1979" subsystem_vendor="0x0000" subsystem_device="0x0000" link_speed="32.0 GT/s PCIe" link_width="16">
      <pci busid="0000:dc:00.0" class="0x020700" vendor="0x15b3" device="0x1021" subsystem_vendor="0x15b3" subsystem_device="0x0050" link_speed="32.0 GT/s PCIe" link_width="16">
        <nic>
          <net name="mlx5_11" dev="9" speed="400000" port="1" guid="0x42760f0003ae6d94" maxconn="1" gdr="1" coll="1" latency="0.000000"/>
        </nic>
      </pci>
    </pci>
  </cpu>
</system>
