<system version="1">
  <cpu host_hash="0x32e9593679db569" numaid="0" affinity="0000,00000000,000000ff,ffffffff,ffffffff" arch="arm64">
    <pci busid="0005:01:00.0" class="0x060400" vendor="0x12d8" device="0xc008" subsystem_vendor="0x10de" subsystem_device="0x2066" link_speed="8.0 GT/s PCIe" link_width="1">
      <pci busid="0005:09:00.0" class="0x020000" vendor="0x8086" device="0x1533" subsystem_vendor="0x8086" subsystem_device="0x0001" link_speed="2.5 GT/s PCIe" link_width="1">
        <nic>
          <net name="enP5p9s0" dev="0" speed="1000" port="0" latency="0.000000" guid="0x0" maxconn="65536" gdr="0"/>
        </nic>
      </pci>
    </pci>
    <pci busid="0008:01:00.0" class="0x030200" vendor="0x10de" device="0x2941" subsystem_vendor="0x10de" subsystem_device="0x2046" link_speed="16.0 GT/s PCIe" link_width="1">
      <gpu dev="0" sm="100" rank="0" gdr="1">
        <nvlink target="fffffff:ff:ff.0" count="18" tclass="0x068000"/>
        <c2c bw="44712" count="5"/>
      </gpu>
    </pci>
    <nic>
      <net name="virbr0" dev="1" speed="10000" port="0" latency="0.000000" guid="0x1" maxconn="65536" gdr="0"/>
      <net name="enx5e27f600e7fc" dev="2" speed="425" port="0" latency="0.000000" guid="0x2" maxconn="65536" gdr="0"/>
      <net name="tmfifo_net0" dev="3" speed="10000" port="0" latency="0.000000" guid="0x3" maxconn="65536" gdr="0"/>
      <net name="tmfifo_net1" dev="4" speed="10000" port="0" latency="0.000000" guid="0x4" maxconn="65536" gdr="0"/>
    </nic>
    <pci busid="0009:01:00.0" class="0x030200" vendor="0x10de" device="0x2941" subsystem_vendor="0x10de" subsystem_device="0x2046" link_speed="16.0 GT/s PCIe" link_width="1">
      <gpu dev="1" sm="100" rank="1" gdr="1">
        <nvlink target="fffffff:ff:ff.0" count="18" tclass="0x068000"/>
        <c2c bw="44712" count="5"/>
      </gpu>
    </pci>
  </cpu>
  <cpu host_hash="0x32e9593679db569" numaid="1" affinity="ffff,ffffffff,ffffff00,00000000,00000000" arch="arm64">
    <pci busid="0018:01:00.0" class="0x030200" vendor="0x10de" device="0x2941" subsystem_vendor="0x10de" subsystem_device="0x2046" link_speed="16.0 GT/s PCIe" link_width="1">
      <gpu dev="2" sm="100" rank="2" gdr="1">
        <nvlink target="fffffff:ff:ff.0" count="18" tclass="0x068000"/>
        <c2c bw="44712" count="5"/>
      </gpu>
    </pci>
    <nic>
      <net name="virbr0" dev="1" speed="10000" port="0" latency="0.000000" guid="0x1" maxconn="65536" gdr="0"/>
      <net name="enx5e27f600e7fc" dev="2" speed="425" port="0" latency="0.000000" guid="0x2" maxconn="65536" gdr="0"/>
      <net name="tmfifo_net0" dev="3" speed="10000" port="0" latency="0.000000" guid="0x3" maxconn="65536" gdr="0"/>
      <net name="tmfifo_net1" dev="4" speed="10000" port="0" latency="0.000000" guid="0x4" maxconn="65536" gdr="0"/>
    </nic>
    <pci busid="0019:01:00.0" class="0x030200" vendor="0x10de" device="0x2941" subsystem_vendor="0x10de" subsystem_device="0x2046" link_speed="16.0 GT/s PCIe" link_width="1">
      <gpu dev="3" sm="100" rank="3" gdr="1">
        <nvlink target="fffffff:ff:ff.0" count="18" tclass="0x068000"/>
        <c2c bw="44712" count="5"/>
      </gpu>
    </pci>
  </cpu>
</system>
