<system version="1">
  <cpu host_hash="0x001" numaid="0" affinity="0000,00000000,000000ff,ffffffff,ffffffff" arch="arm64">
  <pci busid="0000:0a:00.0" class="0x060400" vendor="0x15b3" device="0x1979" subsystem_vendor="0x0000" subsystem_device="0x0000" link_speed="32.0 GT/s PCIe" link_width="32">
    <pci busid="0000:01:00.0" class="0x020000" vendor="0x15b3" device="0x1021" subsystem_vendor="0x15b3" subsystem_device="0x0160" link_speed="32.0 GT/s PCIe" link_width="32">
      <nic>
        <net name="mlx5_0" dev="0" latency="0" speed="400000" port="1" maxconn="131072" gdr="1"/>
      </nic>
    </pci>
    <pci busid="0002:01:00.0" class="0x020000" vendor="0x15b3" device="0x1021" subsystem_vendor="0x15b3" subsystem_device="0x0160" link_speed="32.0 GT/s PCIe" link_width="32">
      <nic>
        <net name="mlx5_1" dev="1" latency="0" speed="400000" port="1" maxconn="131072" gdr="1"/>
      </nic>
    </pci>
    </pci>
    <pci busid="0009:01:00.0" class="0x030200" vendor="0x10de" device="0x2941" subsystem_vendor="0x10de" subsystem_device="0x20ca" link_speed="16.0 GT/s PCIe" link_width="1">
      <gpu dev="0" sm="100" rank="0" gdr="1">
        <nvlink target="fffffff:ff:ff.0" count="18" tclass="0x068000"/>
        <c2c bw="44712" count="10"/>
      </gpu>
    </pci>
  </cpu>
  <cpu host_hash="0x001" numaid="1" affinity="ffff,ffffffff,ffffff00,00000000,00000000" arch="arm64">
  <pci busid="0010:0b:00.0" class="0x060400" vendor="0x15b3" device="0x1979" subsystem_vendor="0x0000" subsystem_device="0x0000" link_speed="32.0 GT/s PCIe" link_width="32">
    <pci busid="0010:01:00.0" class="0x020000" vendor="0x15b3" device="0x1021" subsystem_vendor="0x15b3" subsystem_device="0x0160" link_speed="32.0 GT/s PCIe" link_width="32">
      <nic>
        <net name="mlx5_3" dev="2" latency="0" speed="400000" port="1" maxconn="131072" gdr="1"/>
      </nic>
    </pci>
    <pci busid="0012:01:00.0" class="0x020000" vendor="0x15b3" device="0x1021" subsystem_vendor="0x15b3" subsystem_device="0x0160" link_speed="32.0 GT/s PCIe" link_width="32">
      <nic>
        <net name="mlx5_4" dev="3" latency="0" speed="400000" port="1" maxconn="131072" gdr="1"/>
      </nic>
    </pci>
    </pci>
    <pci busid="0019:01:00.0" class="0x030200" vendor="0x10de" device="0x2941" subsystem_vendor="0x10de" subsystem_device="0x20ca" link_speed="16.0 GT/s PCIe" link_width="1">
      <gpu dev="1" sm="100" rank="1" gdr="1">
        <nvlink target="fffffff:ff:ff.0" count="18" tclass="0x068000"/>
        <c2c bw="44712" count="10"/>
      </gpu>
    </pci>
  </cpu>
  <cpu host_hash="0x002" numaid="0" affinity="0000,00000000,000000ff,ffffffff,ffffffff" arch="arm64">
  <pci busid="0000:0a:00.0" class="0x060400" vendor="0x15b3" device="0x1979" subsystem_vendor="0x0000" subsystem_device="0x0000" link_speed="32.0 GT/s PCIe" link_width="32">
    <pci busid="0000:01:00.0" class="0x020000" vendor="0x15b3" device="0x1021" subsystem_vendor="0x15b3" subsystem_device="0x0160" link_speed="32.0 GT/s PCIe" link_width="32">
      <nic>
        <net name="mlx5_0" dev="0" latency="0" speed="400000" port="1" maxconn="131072" gdr="1"/>
      </nic>
    </pci>
    <pci busid="0002:01:00.0" class="0x020000" vendor="0x15b3" device="0x1021" subsystem_vendor="0x15b3" subsystem_device="0x0160" link_speed="32.0 GT/s PCIe" link_width="32">
      <nic>
        <net name="mlx5_1" dev="1" latency="0" speed="400000" port="1" maxconn="131072" gdr="1"/>
      </nic>
    </pci>
    </pci>
    <pci busid="0009:01:00.0" class="0x030200" vendor="0x10de" device="0x2941" subsystem_vendor="0x10de" subsystem_device="0x20ca" link_speed="16.0 GT/s PCIe" link_width="1">
      <gpu dev="0" sm="100" rank="2" gdr="1">
        <nvlink target="fffffff:ff:ff.0" count="18" tclass="0x068000"/>
        <c2c bw="44712" count="10"/>
      </gpu>
    </pci>
  </cpu>
  <cpu host_hash="0x002" numaid="1" affinity="ffff,ffffffff,ffffff00,00000000,00000000" arch="arm64">
  <pci busid="0010:0b:00.0" class="0x060400" vendor="0x15b3" device="0x1979" subsystem_vendor="0x0000" subsystem_device="0x0000" link_speed="32.0 GT/s PCIe" link_width="32">
    <pci busid="0010:01:00.0" class="0x020000" vendor="0x15b3" device="0x1021" subsystem_vendor="0x15b3" subsystem_device="0x0160" link_speed="32.0 GT/s PCIe" link_width="32">
      <nic>
        <net name="mlx5_3" dev="2" latency="0" speed="400000" port="1" maxconn="131072" gdr="1"/>
      </nic>
    </pci>
    <pci busid="0012:01:00.0" class="0x020000" vendor="0x15b3" device="0x1021" subsystem_vendor="0x15b3" subsystem_device="0x0160" link_speed="32.0 GT/s PCIe" link_width="32">
      <nic>
        <net name="mlx5_4" dev="3" latency="0" speed="400000" port="1" maxconn="131072" gdr="1"/>
      </nic>
    </pci>
    </pci>
    <pci busid="0019:01:00.0" class="0x030200" vendor="0x10de" device="0x2941" subsystem_vendor="0x10de" subsystem_device="0x20ca" link_speed="16.0 GT/s PCIe" link_width="1">
      <gpu dev="1" sm="100" rank="3" gdr="1">
        <nvlink target="fffffff:ff:ff.0" count="18" tclass="0x068000"/>
        <c2c bw="44712" count="10"/>
      </gpu>
    </pci>
  </cpu>
  <cpu host_hash="0x003" numaid="0" affinity="0000,00000000,000000ff,ffffffff,ffffffff" arch="arm64">
  <pci busid="0000:0a:00.0" class="0x060400" vendor="0x15b3" device="0x1979" subsystem_vendor="0x0000" subsystem_device="0x0000" link_speed="32.0 GT/s PCIe" link_width="32">
    <pci busid="0000:01:00.0" class="0x020000" vendor="0x15b3" device="0x1021" subsystem_vendor="0x15b3" subsystem_device="0x0160" link_speed="32.0 GT/s PCIe" link_width="32">
      <nic>
        <net name="mlx5_0" dev="0" latency="0" speed="400000" port="1" maxconn="131072" gdr="1"/>
      </nic>
    </pci>
    <pci busid="0002:01:00.0" class="0x020000" vendor="0x15b3" device="0x1021" subsystem_vendor="0x15b3" subsystem_device="0x0160" link_speed="32.0 GT/s PCIe" link_width="32">
      <nic>
        <net name="mlx5_1" dev="1" latency="0" speed="400000" port="1" maxconn="131072" gdr="1"/>
      </nic>
    </pci>
    </pci>
    <pci busid="0009:01:00.0" class="0x030200" vendor="0x10de" device="0x2941" subsystem_vendor="0x10de" subsystem_device="0x20ca" link_speed="16.0 GT/s PCIe" link_width="1">
      <gpu dev="0" sm="100" rank="4" gdr="1">
        <nvlink target="fffffff:ff:ff.0" count="18" tclass="0x068000"/>
        <c2c bw="44712" count="10"/>
      </gpu>
    </pci>
  </cpu>
  <cpu host_hash="0x003" numaid="1" affinity="ffff,ffffffff,ffffff00,00000000,00000000" arch="arm64">
  <pci busid="0010:0b:00.0" class="0x060400" vendor="0x15b3" device="0x1979" subsystem_vendor="0x0000" subsystem_device="0x0000" link_speed="32.0 GT/s PCIe" link_width="32">
    <pci busid="0010:01:00.0" class="0x020000" vendor="0x15b3" device="0x1021" subsystem_vendor="0x15b3" subsystem_device="0x0160" link_speed="32.0 GT/s PCIe" link_width="32">
      <nic>
        <net name="mlx5_3" dev="2" latency="0" speed="400000" port="1" maxconn="131072" gdr="1"/>
      </nic>
    </pci>
    <pci busid="0012:01:00.0" class="0x020000" vendor="0x15b3" device="0x1021" subsystem_vendor="0x15b3" subsystem_device="0x0160" link_speed="32.0 GT/s PCIe" link_width="32">
      <nic>
        <net name="mlx5_4" dev="3" latency="0" speed="400000" port="1" maxconn="131072" gdr="1"/>
      </nic>
    </pci>
    </pci>
    <pci busid="0019:01:00.0" class="0x030200" vendor="0x10de" device="0x2941" subsystem_vendor="0x10de" subsystem_device="0x20ca" link_speed="16.0 GT/s PCIe" link_width="1">
      <gpu dev="1" sm="100" rank="5" gdr="1">
        <nvlink target="fffffff:ff:ff.0" count="18" tclass="0x068000"/>
        <c2c bw="44712" count="10"/>
      </gpu>
    </pci>
  </cpu>
  <cpu host_hash="0x004" numaid="0" affinity="0000,00000000,000000ff,ffffffff,ffffffff" arch="arm64">
  <pci busid="0000:0a:00.0" class="0x060400" vendor="0x15b3" device="0x1979" subsystem_vendor="0x0000" subsystem_device="0x0000" link_speed="32.0 GT/s PCIe" link_width="32">
    <pci busid="0000:01:00.0" class="0x020000" vendor="0x15b3" device="0x1021" subsystem_vendor="0x15b3" subsystem_device="0x0160" link_speed="32.0 GT/s PCIe" link_width="32">
      <nic>
        <net name="mlx5_0" dev="0" latency="0" speed="400000" port="1" maxconn="131072" gdr="1"/>
      </nic>
    </pci>
    <pci busid="0002:01:00.0" class="0x020000" vendor="0x15b3" device="0x1021" subsystem_vendor="0x15b3" subsystem_device="0x0160" link_speed="32.0 GT/s PCIe" link_width="32">
      <nic>
        <net name="mlx5_1" dev="1" latency="0" speed="400000" port="1" maxconn="131072" gdr="1"/>
      </nic>
    </pci>
    </pci>
    <pci busid="0009:01:00.0" class="0x030200" vendor="0x10de" device="0x2941" subsystem_vendor="0x10de" subsystem_device="0x20ca" link_speed="16.0 GT/s PCIe" link_width="1">
      <gpu dev="0" sm="100" rank="6" gdr="1">
        <nvlink target="fffffff:ff:ff.0" count="18" tclass="0x068000"/>
        <c2c bw="44712" count="10"/>
      </gpu>
    </pci>
  </cpu>
  <cpu host_hash="0x004" numaid="1" affinity="ffff,ffffffff,ffffff00,00000000,00000000" arch="arm64">
  <pci busid="0010:0b:00.0" class="0x060400" vendor="0x15b3" device="0x1979" subsystem_vendor="0x0000" subsystem_device="0x0000" link_speed="32.0 GT/s PCIe" link_width="32">
    <pci busid="0010:01:00.0" class="0x020000" vendor="0x15b3" device="0x1021" subsystem_vendor="0x15b3" subsystem_device="0x0160" link_speed="32.0 GT/s PCIe" link_width="32">
      <nic>
        <net name="mlx5_3" dev="2" latency="0" speed="400000" port="1" maxconn="131072" gdr="1"/>
      </nic>
    </pci>
    <pci busid="0012:01:00.0" class="0x020000" vendor="0x15b3" device="0x1021" subsystem_vendor="0x15b3" subsystem_device="0x0160" link_speed="32.0 GT/s PCIe" link_width="32">
      <nic>
        <net name="mlx5_4" dev="3" latency="0" speed="400000" port="1" maxconn="131072" gdr="1"/>
      </nic>
    </pci>
    </pci>
    <pci busid="0019:01:00.0" class="0x030200" vendor="0x10de" device="0x2941" subsystem_vendor="0x10de" subsystem_device="0x20ca" link_speed="16.0 GT/s PCIe" link_width="1">
      <gpu dev="1" sm="100" rank="7" gdr="1">
        <nvlink target="fffffff:ff:ff.0" count="18" tclass="0x068000"/>
        <c2c bw="44712" count="10"/>
      </gpu>
    </pci>
  </cpu>
</system>