<system version="1">
  <cpu numaid="0" affinity="000000ff,ffff0000,00ffffff" arch="x86_64" vendor="GenuineIntel" familyid="6" modelid="85">
    <pci busid="0000:2c:00.0" class="0x060400" link_speed="8 GT/s" link_width="16">
      <pci busid="0000:32:00.0" class="0x060400" link_speed="8 GT/s" link_width="16">
        <pci busid="0000:34:00.0" class="0x030200" link_speed="8 GT/s" link_width="16">
          <gpu dev="0" sm="70" rank="0" gdr="1">
            <nvlink target="0000:65:00.0" count="1" tclass="0x068000"/>
            <nvlink target="0000:61:00.0" count="1" tclass="0x068000"/>
            <nvlink target="0000:63:00.0" count="1" tclass="0x068000"/>
            <nvlink target="0000:67:00.0" count="1" tclass="0x068000"/>
            <nvlink target="0000:62:00.0" count="1" tclass="0x068000"/>
            <nvlink target="0000:66:00.0" count="1" tclass="0x068000"/>
          </gpu>
        </pci>
        <pci busid="0000:36:00.0" class="0x030200" link_speed="8 GT/s" link_width="16">
          <gpu dev="1" sm="70" rank="1" gdr="1">
            <nvlink target="0000:65:00.0" count="1" tclass="0x068000"/>
            <nvlink target="0000:61:00.0" count="1" tclass="0x068000"/>
            <nvlink target="0000:67:00.0" count="1" tclass="0x068000"/>
            <nvlink target="0000:63:00.0" count="1" tclass="0x068000"/>
            <nvlink target="0000:66:00.0" count="1" tclass="0x068000"/>
            <nvlink target="0000:62:00.0" count="1" tclass="0x068000"/>
          </gpu>
        </pci>
        <pci busid="0000:35:00.0" class="0x020700" link_speed="8 GT/s" link_width="16">
          <nic type="infiniband">
            <net name="mlx5_1" port="1" guid="0x98039b03007059f2" speed="100000" dev="2" gdr="1"/>
          </nic>
        </pci>
      </pci>
      <pci busid="0000:37:00.0" class="0x060400" link_speed="8 GT/s" link_width="16">
        <pci busid="0000:39:00.0" class="0x030200" link_speed="8 GT/s" link_width="16">
          <gpu dev="2" sm="70" rank="2" gdr="1">
            <nvlink target="0000:65:00.0" count="1" tclass="0x068000"/>
            <nvlink target="0000:61:00.0" count="1" tclass="0x068000"/>
            <nvlink target="0000:63:00.0" count="1" tclass="0x068000"/>
            <nvlink target="0000:67:00.0" count="1" tclass="0x068000"/>
            <nvlink target="0000:66:00.0" count="1" tclass="0x068000"/>
            <nvlink target="0000:62:00.0" count="1" tclass="0x068000"/>
          </gpu>
        </pci>
        <pci busid="0000:3b:00.0" class="0x030200" link_speed="8 GT/s" link_width="16">
          <gpu dev="3" sm="70" rank="3" gdr="1">
            <nvlink target="0000:65:00.0" count="1" tclass="0x068000"/>
            <nvlink target="0000:61:00.0" count="1" tclass="0x068000"/>
            <nvlink target="0000:63:00.0" count="1" tclass="0x068000"/>
            <nvlink target="0000:67:00.0" count="1" tclass="0x068000"/>
            <nvlink target="0000:62:00.0" count="1" tclass="0x068000"/>
            <nvlink target="0000:66:00.0" count="1" tclass="0x068000"/>
          </gpu>
        </pci>
        <pci busid="0000:3a:00.0" class="0x020700" link_speed="8 GT/s" link_width="16">
          <nic type="infiniband">
            <net name="mlx5_2" port="1" guid="0x98039b0300703ede" speed="100000" dev="9" gdr="1"/>
          </nic>
        </pci>
      </pci>
    </pci>
    <pci busid="0000:4f:00.0" class="0x060400" link_speed="8 GT/s" link_width="16">
      <pci busid="0000:55:00.0" class="0x060400" link_speed="8 GT/s" link_width="16">
        <pci busid="0000:57:00.0" class="0x030200" link_speed="8 GT/s" link_width="16">
          <gpu dev="4" sm="70" rank="4" gdr="1">
            <nvlink target="0000:65:00.0" count="1" tclass="0x068000"/>
            <nvlink target="0000:61:00.0" count="1" tclass="0x068000"/>
            <nvlink target="0000:67:00.0" count="1" tclass="0x068000"/>
            <nvlink target="0000:66:00.0" count="1" tclass="0x068000"/>
            <nvlink target="0000:63:00.0" count="1" tclass="0x068000"/>
            <nvlink target="0000:62:00.0" count="1" tclass="0x068000"/>
          </gpu>
        </pci>
        <pci busid="0000:59:00.0" class="0x030200" link_speed="8 GT/s" link_width="16">
          <gpu dev="5" sm="70" rank="5" gdr="1">
            <nvlink target="0000:65:00.0" count="1" tclass="0x068000"/>
            <nvlink target="0000:61:00.0" count="1" tclass="0x068000"/>
            <nvlink target="0000:67:00.0" count="1" tclass="0x068000"/>
            <nvlink target="0000:63:00.0" count="1" tclass="0x068000"/>
            <nvlink target="0000:62:00.0" count="1" tclass="0x068000"/>
            <nvlink target="0000:66:00.0" count="1" tclass="0x068000"/>
          </gpu>
        </pci>
        <pci busid="0000:58:00.0" class="0x020700" link_speed="8 GT/s" link_width="16">
          <nic type="infiniband">
            <net name="mlx5_3" port="1" guid="0x98039b03006805fe" speed="100000" dev="3" gdr="1"/>
          </nic>
        </pci>
      </pci>
      <pci busid="0000:5a:00.0" class="0x060400" link_speed="8 GT/s" link_width="16">
        <pci busid="0000:5c:00.0" class="0x030200" link_speed="8 GT/s" link_width="16">
          <gpu dev="6" sm="70" rank="6" gdr="1">
            <nvlink target="0000:65:00.0" count="1" tclass="0x068000"/>
            <nvlink target="0000:61:00.0" count="1" tclass="0x068000"/>
            <nvlink target="0000:66:00.0" count="1" tclass="0x068000"/>
            <nvlink target="0000:63:00.0" count="1" tclass="0x068000"/>
            <nvlink target="0000:67:00.0" count="1" tclass="0x068000"/>
            <nvlink target="0000:62:00.0" count="1" tclass="0x068000"/>
          </gpu>
        </pci>
        <pci busid="0000:5e:00.0" class="0x030200" link_speed="8 GT/s" link_width="16">
          <gpu dev="7" sm="70" rank="7" gdr="1">
            <nvlink target="0000:65:00.0" count="1" tclass="0x068000"/>
            <nvlink target="0000:61:00.0" count="1" tclass="0x068000"/>
            <nvlink target="0000:66:00.0" count="1" tclass="0x068000"/>
            <nvlink target="0000:63:00.0" count="1" tclass="0x068000"/>
            <nvlink target="0000:62:00.0" count="1" tclass="0x068000"/>
            <nvlink target="0000:67:00.0" count="1" tclass="0x068000"/>
          </gpu>
        </pci>
        <pci busid="0000:5d:00.0" class="0x020700" link_speed="8 GT/s" link_width="16">
          <nic type="infiniband">
            <net name="mlx5_4" port="1" guid="0x98039b03006814ee" speed="100000" dev="10" gdr="1"/>
          </nic>
        </pci>
      </pci>
    </pci>
    <pci busid="0000:0c:00.0" class="0x020700" link_speed="8 GT/s" link_width="16">
      <nic type="infiniband">
        <net name="mlx5_0" port="1" guid="0x98039b03004fb384" speed="100000" dev="8" gdr="1"/>
      </nic>
    </pci>
  </cpu>
  <cpu numaid="1" affinity="ffffff00,0000ffff,ff000000" arch="x86_64" vendor="GenuineIntel" familyid="6" modelid="85">
    <pci busid="0000:af:00.0" class="0x060400" link_speed="8 GT/s" link_width="16">
      <pci busid="0000:b5:00.0" class="0x060400" link_speed="8 GT/s" link_width="16">
        <pci busid="0000:b7:00.0" class="0x030200" link_speed="8 GT/s" link_width="16">
          <gpu dev="8" sm="70" rank="8" gdr="1">
            <nvlink target="0000:c5:00.0" count="1" tclass="0x068000"/>
            <nvlink target="0000:c1:00.0" count="1" tclass="0x068000"/>
            <nvlink target="0000:c7:00.0" count="1" tclass="0x068000"/>
            <nvlink target="0000:c3:00.0" count="1" tclass="0x068000"/>
            <nvlink target="0000:c6:00.0" count="1" tclass="0x068000"/>
            <nvlink target="0000:c2:00.0" count="1" tclass="0x068000"/>
          </gpu>
        </pci>
        <pci busid="0000:b9:00.0" class="0x030200" link_speed="8 GT/s" link_width="16">
          <gpu dev="9" sm="70" rank="9" gdr="1">
            <nvlink target="0000:c5:00.0" count="1" tclass="0x068000"/>
            <nvlink target="0000:c1:00.0" count="1" tclass="0x068000"/>
            <nvlink target="0000:c3:00.0" count="1" tclass="0x068000"/>
            <nvlink target="0000:c7:00.0" count="1" tclass="0x068000"/>
            <nvlink target="0000:c2:00.0" count="1" tclass="0x068000"/>
            <nvlink target="0000:c6:00.0" count="1" tclass="0x068000"/>
          </gpu>
        </pci>
        <pci busid="0000:b8:00.0" class="0x020700" link_speed="8 GT/s" link_width="16">
          <nic type="infiniband">
            <net name="mlx5_7" port="1" guid="0x98039b03006813f6" speed="100000" dev="5" gdr="1"/>
          </nic>
        </pci>
      </pci>
      <pci busid="0000:ba:00.0" class="0x060400" link_speed="8 GT/s" link_width="16">
        <pci busid="0000:bc:00.0" class="0x030200" link_speed="8 GT/s" link_width="16">
          <gpu dev="10" sm="70" rank="10" gdr="1">
            <nvlink target="0000:c5:00.0" count="1" tclass="0x068000"/>
            <nvlink target="0000:c1:00.0" count="1" tclass="0x068000"/>
            <nvlink target="0000:c3:00.0" count="1" tclass="0x068000"/>
            <nvlink target="0000:c7:00.0" count="1" tclass="0x068000"/>
            <nvlink target="0000:c6:00.0" count="1" tclass="0x068000"/>
            <nvlink target="0000:c2:00.0" count="1" tclass="0x068000"/>
          </gpu>
        </pci>
        <pci busid="0000:be:00.0" class="0x030200" link_speed="8 GT/s" link_width="16">
          <gpu dev="11" sm="70" rank="11" gdr="1">
            <nvlink target="0000:c5:00.0" count="1" tclass="0x068000"/>
            <nvlink target="0000:c1:00.0" count="1" tclass="0x068000"/>
            <nvlink target="0000:c3:00.0" count="1" tclass="0x068000"/>
            <nvlink target="0000:c7:00.0" count="1" tclass="0x068000"/>
            <nvlink target="0000:c2:00.0" count="1" tclass="0x068000"/>
            <nvlink target="0000:c6:00.0" count="1" tclass="0x068000"/>
          </gpu>
        </pci>
        <pci busid="0000:bd:00.0" class="0x020700" link_speed="8 GT/s" link_width="16">
          <nic type="infiniband">
            <net name="mlx5_8" port="1" guid="0x98039b0300706032" speed="100000" dev="1" gdr="1"/>
          </nic>
        </pci>
      </pci>
    </pci>
    <pci busid="0000:d8:00.0" class="0x060400" link_speed="8 GT/s" link_width="16">
      <pci busid="0000:de:00.0" class="0x060400" link_speed="8 GT/s" link_width="16">
        <pci busid="0000:e0:00.0" class="0x030200" link_speed="8 GT/s" link_width="16">
          <gpu dev="12" sm="70" rank="12" gdr="1">
            <nvlink target="0000:c5:00.0" count="1" tclass="0x068000"/>
            <nvlink target="0000:c1:00.0" count="1" tclass="0x068000"/>
            <nvlink target="0000:c6:00.0" count="1" tclass="0x068000"/>
            <nvlink target="0000:c3:00.0" count="1" tclass="0x068000"/>
            <nvlink target="0000:c7:00.0" count="1" tclass="0x068000"/>
            <nvlink target="0000:c2:00.0" count="1" tclass="0x068000"/>
          </gpu>
        </pci>
        <pci busid="0000:e2:00.0" class="0x030200" link_speed="8 GT/s" link_width="16">
          <gpu dev="13" sm="70" rank="13" gdr="1">
            <nvlink target="0000:c5:00.0" count="1" tclass="0x068000"/>
            <nvlink target="0000:c1:00.0" count="1" tclass="0x068000"/>
            <nvlink target="0000:c7:00.0" count="1" tclass="0x068000"/>
            <nvlink target="0000:c6:00.0" count="1" tclass="0x068000"/>
            <nvlink target="0000:c3:00.0" count="1" tclass="0x068000"/>
            <nvlink target="0000:c2:00.0" count="1" tclass="0x068000"/>
          </gpu>
        </pci>
        <pci busid="0000:e1:00.0" class="0x020700" link_speed="8 GT/s" link_width="16">
          <nic type="infiniband">
            <net name="mlx5_9" port="1" guid="0x98039b0300681232" speed="100000" dev="7" gdr="1"/>
          </nic>
        </pci>
      </pci>
      <pci busid="0000:e3:00.0" class="0x060400" link_speed="8 GT/s" link_width="16">
        <pci busid="0000:e5:00.0" class="0x030200" link_speed="8 GT/s" link_width="16">
          <gpu dev="14" sm="70" rank="14" gdr="1">
            <nvlink target="0000:c5:00.0" count="1" tclass="0x068000"/>
            <nvlink target="0000:c1:00.0" count="1" tclass="0x068000"/>
            <nvlink target="0000:c6:00.0" count="1" tclass="0x068000"/>
            <nvlink target="0000:c3:00.0" count="1" tclass="0x068000"/>
            <nvlink target="0000:c2:00.0" count="1" tclass="0x068000"/>
            <nvlink target="0000:c7:00.0" count="1" tclass="0x068000"/>
          </gpu>
        </pci>
        <pci busid="0000:e7:00.0" class="0x030200" link_speed="8 GT/s" link_width="16">
          <gpu dev="15" sm="70" rank="15" gdr="1">
            <nvlink target="0000:c5:00.0" count="1" tclass="0x068000"/>
            <nvlink target="0000:c1:00.0" count="1" tclass="0x068000"/>
            <nvlink target="0000:c7:00.0" count="1" tclass="0x068000"/>
            <nvlink target="0000:c3:00.0" count="1" tclass="0x068000"/>
            <nvlink target="0000:c2:00.0" count="1" tclass="0x068000"/>
            <nvlink target="0000:c6:00.0" count="1" tclass="0x068000"/>
          </gpu>
        </pci>
        <pci busid="0000:e6:00.0" class="0x020700" link_speed="8 GT/s" link_width="16">
          <nic type="infiniband">
            <net name="mlx5_10" port="1" guid="0x98039b0300680c96" speed="100000" dev="6" gdr="1"/>
          </nic>
        </pci>
      </pci>
    </pci>
    <pci busid="0000:86:00.1" class="0x020700" link_speed="8 GT/s" link_width="16">
      <nic type="infiniband">
        <net name="mlx5_6" port="1" guid="0x98039b0300672984" speed="100000" dev="0" gdr="1"/>
      </nic>
    </pci>
    <pci busid="0000:86:00.0" class="0x020000" link_speed="8 GT/s" link_width="16">
      <nic type="infiniband">
        <net name="mlx5_5" port="1" guid="0x98039b0300672984" speed="100000" dev="4" gdr="1"/>
      </nic>
    </pci>
  </cpu>
</system>
