<system version="1">
  <cpu numaid="2" affinity="00000000,00ff0000,00000000,00ff0000" arch="x86_64" vendor="AuthenticAMD" familyid="143" modelid="49">
    <pci busid="0000:25:00.0" class="0x060400" vendor="0x1000" device="0xc010" subsystem_vendor="0x1000" subsystem_device="0xa048" link_speed="16.0 GT/s PCIe" link_width="16">
      <pci busid="0000:27:00.0" class="0x060400" vendor="0x1000" device="0xc010" subsystem_vendor="0x1000" subsystem_device="0xa048" link_speed="16.0 GT/s PCIe" link_width="16">
        <pci busid="0000:2a:00.0" class="0x030200" vendor="0x10de" device="0x2236" subsystem_vendor="0x10de" subsystem_device="0x1482" link_speed="16.0 GT/s PCIe" link_width="16">
          <gpu dev="0" sm="86" rank="0" gdr="1"/>
        </pci>
      </pci>
    </pci>
  </cpu>
  <cpu numaid="1" affinity="00000000,0000ff00,00000000,0000ff00" arch="x86_64" vendor="AuthenticAMD" familyid="143" modelid="49">
    <pci busid="0000:41:00.0" class="0x060400" vendor="0x1000" device="0xc010" subsystem_vendor="0x1000" subsystem_device="0xa048" link_speed="16.0 GT/s PCIe" link_width="16">
      <pci busid="0000:43:00.0" class="0x060400" vendor="0x1000" device="0xc010" subsystem_vendor="0x1000" subsystem_device="0xa048" link_speed="16.0 GT/s PCIe" link_width="16">
        <pci busid="0000:45:00.0" class="0x030200" vendor="0x10de" device="0x2236" subsystem_vendor="0x10de" subsystem_device="0x1482" link_speed="16.0 GT/s PCIe" link_width="16">
          <gpu dev="1" sm="86" rank="1" gdr="1"/>
        </pci>
      </pci>
    </pci>
  </cpu>
  <cpu numaid="6" affinity="00ff0000,00000000,00ff0000,00000000" arch="x86_64" vendor="AuthenticAMD" familyid="143" modelid="49">
    <pci busid="0000:a1:00.0" class="0x060400" vendor="0x1000" device="0xc010" subsystem_vendor="0x1000" subsystem_device="0xa048" link_speed="16.0 GT/s PCIe" link_width="16">
      <pci busid="0000:a3:00.0" class="0x060400" vendor="0x1000" device="0xc010" subsystem_vendor="0x1000" subsystem_device="0xa048" link_speed="16.0 GT/s PCIe" link_width="16">
        <pci busid="0000:a6:00.0" class="0x030200" vendor="0x10de" device="0x2236" subsystem_vendor="0x10de" subsystem_device="0x1482" link_speed="16.0 GT/s PCIe" link_width="16">
          <gpu dev="2" sm="86" rank="2" gdr="1"/>
        </pci>
      </pci>
    </pci>
  </cpu>
  <cpu numaid="5" affinity="0000ff00,00000000,0000ff00,00000000" arch="x86_64" vendor="AuthenticAMD" familyid="143" modelid="49">
    <pci busid="0000:c1:00.0" class="0x060400" vendor="0x1000" device="0xc010" subsystem_vendor="0x1000" subsystem_device="0xa048" link_speed="16.0 GT/s PCIe" link_width="16">
      <pci busid="0000:c3:00.0" class="0x060400" vendor="0x1000" device="0xc010" subsystem_vendor="0x1000" subsystem_device="0xa048" link_speed="16.0 GT/s PCIe" link_width="16">
        <pci busid="0000:c5:00.0" class="0x030200" vendor="0x10de" device="0x2236" subsystem_vendor="0x10de" subsystem_device="0x1482" link_speed="16.0 GT/s PCIe" link_width="16">
          <gpu dev="3" sm="86" rank="3" gdr="1"/>
        </pci>
      </pci>
    </pci>
  </cpu>
  <cpu numaid="3" affinity="00000000,ff000000,00000000,ff000000" arch="x86_64" vendor="AuthenticAMD" familyid="143" modelid="49">
    <pci busid="0000:01:00.0" class="0x020700" vendor="0x15b3" device="0x101b" subsystem_vendor="0x15b3" subsystem_device="0x0009" link_speed="16.0 GT/s PCIe" link_width="16">
      <nic>
        <net name="mlx5_0" dev="0" speed="200000" port="1" latency="0.000000" guid="0xce652c0003f6ceb8" maxconn="131072" gdr="1"/>
      </nic>
    </pci>
  </cpu>
</system>
