<system version="1">
  <cpu host_hash="0xaf55ff47590e55cf" numaid="0" affinity="00000000,000000ff,ffffffff,ffff0000,00000000,00ffffff,ffffffff" arch="x86_64" vendor="GenuineIntel" familyid="6" modelid="143">
    <pci busid="0000:27:00.0" class="0x060400" vendor="0x1000" device="0xc030" subsystem_vendor="0x15d9" subsystem_device="0x1d24" link_speed="32.0 GT/s PCIe" link_width="16">
      <pci busid="0000:2d:00.0" class="0x030200" vendor="0x10de" device="0x233b" subsystem_vendor="0x10de" subsystem_device="0x1996" link_speed="32.0 GT/s PCIe" link_width="16">
        <gpu dev="0" sm="90" rank="0" gdr="1">
          <nvlink target="0000:3c:00.0" count="6" tclass="0x030200"/>
          <nvlink target="0000:3b:00.0" count="6" tclass="0x030200"/>
          <nvlink target="0000:3a:00.0" count="6" tclass="0x030200"/>
        </gpu>
      </pci>
    </pci>
    <nic>
      <net name="eth0" dev="0" speed="10000" port="0" latency="0.000000" guid="0x0" maxconn="65536" gdr="0"/>
    </nic>
    <pci busid="0000:38:00.0" class="0x060400" vendor="0x1000" device="0xc030" subsystem_vendor="0x15d9" subsystem_device="0x1d24" link_speed="32.0 GT/s PCIe" link_width="16">
      <pci busid="0000:3a:00.0" class="0x030200" vendor="0x10de" device="0x233b" subsystem_vendor="0x10de" subsystem_device="0x1996" link_speed="32.0 GT/s PCIe" link_width="16">
        <gpu dev="1" sm="90" rank="1" gdr="1">
          <nvlink target="0000:3b:00.0" count="6" tclass="0x030200"/>
          <nvlink target="0000:3c:00.0" count="6" tclass="0x030200"/>
          <nvlink target="0000:2d:00.0" count="6" tclass="0x030200"/>
        </gpu>
      </pci>
      <pci busid="0000:3b:00.0" class="0x030200" vendor="0x10de" device="0x233b" subsystem_vendor="0x10de" subsystem_device="0x1996" link_speed="32.0 GT/s PCIe" link_width="16">
        <gpu dev="2" sm="90" rank="2" gdr="1">
          <nvlink target="0000:3a:00.0" count="6" tclass="0x030200"/>
          <nvlink target="0000:2d:00.0" count="6" tclass="0x030200"/>
          <nvlink target="0000:3c:00.0" count="6" tclass="0x030200"/>
        </gpu>
      </pci>
      <pci busid="0000:3c:00.0" class="0x030200" vendor="0x10de" device="0x233b" subsystem_vendor="0x10de" subsystem_device="0x1996" link_speed="32.0 GT/s PCIe" link_width="16">
        <gpu dev="3" sm="90" rank="3" gdr="1">
          <nvlink target="0000:2d:00.0" count="6" tclass="0x030200"/>
          <nvlink target="0000:3a:00.0" count="6" tclass="0x030200"/>
          <nvlink target="0000:3b:00.0" count="6" tclass="0x030200"/>
        </gpu>
      </pci>
    </pci>
  </cpu>
  <cpu host_hash="0xaf55ff47590e55cf" numaid="1" affinity="ffffffff,ffffff00,00000000,0000ffff,ffffffff,ff000000,00000000" arch="x86_64" vendor="GenuineIntel" familyid="6" modelid="143">
    <pci busid="0000:a8:00.0" class="0x060400" vendor="0x1000" device="0xc030" subsystem_vendor="0x15d9" subsystem_device="0x1d24" link_speed="32.0 GT/s PCIe" link_width="16">
      <pci busid="0000:ae:00.0" class="0x030200" vendor="0x10de" device="0x233b" subsystem_vendor="0x10de" subsystem_device="0x1996" link_speed="32.0 GT/s PCIe" link_width="16">
        <gpu dev="4" sm="90" rank="4" gdr="1">
          <nvlink target="0000:be:00.0" count="6" tclass="0x030200"/>
          <nvlink target="0000:bd:00.0" count="6" tclass="0x030200"/>
          <nvlink target="0000:bc:00.0" count="6" tclass="0x030200"/>
        </gpu>
      </pci>
    </pci>
    <nic>
      <net name="eth0" dev="0" speed="10000" port="0" latency="0.000000" guid="0x0" maxconn="65536" gdr="0"/>
    </nic>
    <pci busid="0000:b8:00.0" class="0x060400" vendor="0x1000" device="0xc030" subsystem_vendor="0x15d9" subsystem_device="0x1d24" link_speed="32.0 GT/s PCIe" link_width="16">
      <pci busid="0000:bc:00.0" class="0x030200" vendor="0x10de" device="0x233b" subsystem_vendor="0x10de" subsystem_device="0x1996" link_speed="32.0 GT/s PCIe" link_width="16">
        <gpu dev="5" sm="90" rank="5" gdr="1">
          <nvlink target="0000:bd:00.0" count="6" tclass="0x030200"/>
          <nvlink target="0000:be:00.0" count="6" tclass="0x030200"/>
          <nvlink target="0000:ae:00.0" count="6" tclass="0x030200"/>
        </gpu>
      </pci>
      <pci busid="0000:bd:00.0" class="0x030200" vendor="0x10de" device="0x233b" subsystem_vendor="0x10de" subsystem_device="0x1996" link_speed="32.0 GT/s PCIe" link_width="16">
        <gpu dev="6" sm="90" rank="6" gdr="1">
          <nvlink target="0000:bc:00.0" count="6" tclass="0x030200"/>
          <nvlink target="0000:ae:00.0" count="6" tclass="0x030200"/>
          <nvlink target="0000:be:00.0" count="6" tclass="0x030200"/>
        </gpu>
      </pci>
      <pci busid="0000:be:00.0" class="0x030200" vendor="0x10de" device="0x233b" subsystem_vendor="0x10de" subsystem_device="0x1996" link_speed="32.0 GT/s PCIe" link_width="16">
        <gpu dev="7" sm="90" rank="7" gdr="1">
          <nvlink target="0000:ae:00.0" count="6" tclass="0x030200"/>
          <nvlink target="0000:bc:00.0" count="6" tclass="0x030200"/>
          <nvlink target="0000:bd:00.0" count="6" tclass="0x030200"/>
        </gpu>
      </pci>
    </pci>
  </cpu>
</system>
