<system version="1">
  <cpu host_hash="0x8313346f95216be7" numaid="0" affinity="000000ff,ffff0000,00ffffff" arch="x86_64" vendor="GenuineIntel" familyid="6" modelid="207">
    <pci busid="0000:37:00.0" class="0x020000" vendor="0x15b3" device="0xa2dc" subsystem_vendor="0x15b3" subsystem_device="0x0021" link_speed="32.0 GT/s PCIe" link_width="16">
      <nic>
        <net name="mlx5_4" dev="0" speed="400000" port="1" latency="0.000000" guid="0x66914b000373255c" maxconn="131072" gdr="1"/>
      </nic>
    </pci>
    <pci busid="0000:4a:00.0" class="0x030200" vendor="0x10de" device="0x2321" subsystem_vendor="0x10de" subsystem_device="0x1839" link_speed="32.0 GT/s PCIe" link_width="16">
      <gpu dev="0" sm="90" rank="0" gdr="1">
        <nvlink target="0000:61:00.0" count="12" tclass="0x030200"/>
      </gpu>
    </pci>
    <pci busid="0000:61:00.0" class="0x030200" vendor="0x10de" device="0x2321" subsystem_vendor="0x10de" subsystem_device="0x1839" link_speed="32.0 GT/s PCIe" link_width="16">
      <gpu dev="1" sm="90" rank="1" gdr="1">
        <nvlink target="0000:4a:00.0" count="12" tclass="0x030200"/>
      </gpu>
    </pci>
  </cpu>
  <cpu host_hash="0x8313346f95216be7" numaid="1" affinity="ffffff00,0000ffff,ff000000" arch="x86_64" vendor="GenuineIntel" familyid="6" modelid="207">
    <pci busid="0000:b5:00.0" class="0x020000" vendor="0x15b3" device="0xa2dc" subsystem_vendor="0x15b3" subsystem_device="0x0021" link_speed="32.0 GT/s PCIe" link_width="16">
      <nic>
        <net name="mlx5_5" dev="1" speed="400000" port="1" latency="0.000000" guid="0x28ca4a000373255c" maxconn="131072" gdr="1"/>
      </nic>
    </pci>
    <pci busid="0000:ca:00.0" class="0x030200" vendor="0x10de" device="0x2321" subsystem_vendor="0x10de" subsystem_device="0x1839" link_speed="32.0 GT/s PCIe" link_width="16">
      <gpu dev="2" sm="90" rank="2" gdr="1">
        <nvlink target="0000:e1:00.0" count="12" tclass="0x030200"/>
      </gpu>
    </pci>
    <pci busid="0000:e1:00.0" class="0x030200" vendor="0x10de" device="0x2321" subsystem_vendor="0x10de" subsystem_device="0x1839" link_speed="32.0 GT/s PCIe" link_width="16">
      <gpu dev="3" sm="90" rank="3" gdr="1">
        <nvlink target="0000:ca:00.0" count="12" tclass="0x030200"/>
      </gpu>
    </pci>
  </cpu>
</system>
