<system version="1">
  <cpu host_hash="0x0" numaid="0" affinity="0000,00000000,000000ff,ffffffff,ffffffff" arch="arm64">
    <pci busid="0008:01:00.0" class="0x060400" vendor="0x15b3" device="0x197c" subsystem_vendor="0x0000" subsystem_device="0x0000" link_speed="16.0 GT/s PCIe" link_width="1">
      <pci busid="0008:03:00.0" class="0x080100" vendor="0x15b3" device="0x2100" subsystem_vendor="0x15b3" subsystem_device="0x0008" link_speed="64.0 GT/s PCIe" link_width="16">
        <nic>
          <net name="mlx5_1_dma" dev="1" latency="0" speed="800000" port="1" maxconn="131072" gdr="1"/>
        </nic>
      </pci>
      <pci busid="0008:04:00.0" class="0x060400" vendor="0x15b3" device="0x197c" subsystem_vendor="0x0000" subsystem_device="0x0000" link_speed="64.0 GT/s PCIe" link_width="16">
        <pci busid="0008:06:00.0" class="0x030200" vendor="0x10de" device="0x31c2" subsystem_vendor="0x10de" subsystem_device="0x21f1" link_speed="64.0 GT/s PCIe" link_width="16">
          <gpu dev="0" sm="103" rank="0" gdr="1">
            <nvlink target="fffffff:ff:ff.0" count="18" tclass="0x068000"/>
            <c2c bw="44712" count="5"/>
          </gpu>
        </pci>
      </pci>
    </pci>
    <pci busid="0009:01:00.0" class="0x060400" vendor="0x15b3" device="0x197c" subsystem_vendor="0x0000" subsystem_device="0x0000" link_speed="16.0 GT/s PCIe" link_width="1">
      <pci busid="0009:03:00.0" class="0x080100" vendor="0x15b3" device="0x2100" subsystem_vendor="0x15b3" subsystem_device="0x0008" link_speed="64.0 GT/s PCIe" link_width="16">
        <nic>
          <net name="mlx5_0_dma" dev="0" latency="0" speed="800000" port="1" maxconn="131072" gdr="1"/>
        </nic>
      </pci>
      <pci busid="0009:04:00.0" class="0x060400" vendor="0x15b3" device="0x197c" subsystem_vendor="0x0000" subsystem_device="0x0000" link_speed="64.0 GT/s PCIe" link_width="16">
        <pci busid="0009:06:00.0" class="0x030200" vendor="0x10de" device="0x31c2" subsystem_vendor="0x10de" subsystem_device="0x21f1" link_speed="64.0 GT/s PCIe" link_width="16">
          <gpu dev="1" sm="103" rank="1" gdr="1">
            <nvlink target="fffffff:ff:ff.0" count="18" tclass="0x068000"/>
            <c2c bw="44712" count="5"/>
          </gpu>
        </pci>
      </pci>
    </pci>
  </cpu>
  <cpu host_hash="0x0" numaid="1" affinity="ffff,ffffffff,ffffff00,00000000,00000000" arch="arm64">
    <pci busid="0018:01:00.0" class="0x060400" vendor="0x15b3" device="0x197c" subsystem_vendor="0x0000" subsystem_device="0x0000" link_speed="16.0 GT/s PCIe" link_width="1">
      <pci busid="0018:03:00.0" class="0x080100" vendor="0x15b3" device="0x2100" subsystem_vendor="0x15b3" subsystem_device="0x0008" link_speed="64.0 GT/s PCIe" link_width="16">
        <nic>
          <net name="mlx5_3_dma" dev="3" latency="0" speed="800000" port="1" maxconn="131072" gdr="1"/>
        </nic>
      </pci>
      <pci busid="0018:04:00.0" class="0x060400" vendor="0x15b3" device="0x197c" subsystem_vendor="0x0000" subsystem_device="0x0000" link_speed="64.0 GT/s PCIe" link_width="16">
        <pci busid="0018:06:00.0" class="0x030200" vendor="0x10de" device="0x31c2" subsystem_vendor="0x10de" subsystem_device="0x21f1" link_speed="64.0 GT/s PCIe" link_width="16">
          <gpu dev="2" sm="103" rank="2" gdr="1">
            <nvlink target="fffffff:ff:ff.0" count="18" tclass="0x068000"/>
            <c2c bw="44712" count="5"/>
          </gpu>
        </pci>
      </pci>
    </pci>
    <pci busid="0019:01:00.0" class="0x060400" vendor="0x15b3" device="0x197c" subsystem_vendor="0x0000" subsystem_device="0x0000" link_speed="16.0 GT/s PCIe" link_width="1">
      <pci busid="0019:03:00.0" class="0x080100" vendor="0x15b3" device="0x2100" subsystem_vendor="0x15b3" subsystem_device="0x0008" link_speed="64.0 GT/s PCIe" link_width="16">
        <nic>
          <net name="mlx5_2_dma" dev="2" latency="0" speed="800000" port="1" maxconn="131072" gdr="1"/>
        </nic>
      </pci>
      <pci busid="0019:04:00.0" class="0x060400" vendor="0x15b3" device="0x197c" subsystem_vendor="0x0000" subsystem_device="0x0000" link_speed="64.0 GT/s PCIe" link_width="16">
        <pci busid="0019:06:00.0" class="0x030200" vendor="0x10de" device="0x31c2" subsystem_vendor="0x10de" subsystem_device="0x21f1" link_speed="64.0 GT/s PCIe" link_width="16">
          <gpu dev="3" sm="103" rank="3" gdr="1">
            <nvlink target="fffffff:ff:ff.0" count="18" tclass="0x068000"/>
            <c2c bw="44712" count="5"/>
          </gpu>
        </pci>
      </pci>
    </pci>
  </cpu>
  <cpu host_hash="0x1" numaid="0" affinity="0000,00000000,000000ff,ffffffff,ffffffff" arch="arm64">
    <pci busid="0008:01:00.0" class="0x060400" vendor="0x15b3" device="0x197c" subsystem_vendor="0x0000" subsystem_device="0x0000" link_speed="16.0 GT/s PCIe" link_width="1">
      <pci busid="0008:03:00.0" class="0x080100" vendor="0x15b3" device="0x2100" subsystem_vendor="0x15b3" subsystem_device="0x0008" link_speed="64.0 GT/s PCIe" link_width="16">
        <nic>
          <net name="mlx5_1_dma" dev="1" latency="0" speed="800000" port="1" maxconn="131072" gdr="1"/>
        </nic>
      </pci>
      <pci busid="0008:04:00.0" class="0x060400" vendor="0x15b3" device="0x197c" subsystem_vendor="0x0000" subsystem_device="0x0000" link_speed="64.0 GT/s PCIe" link_width="16">
        <pci busid="0008:06:00.0" class="0x030200" vendor="0x10de" device="0x31c2" subsystem_vendor="0x10de" subsystem_device="0x21f1" link_speed="64.0 GT/s PCIe" link_width="16">
          <gpu dev="0" sm="103" rank="4" gdr="1">
            <nvlink target="fffffff:ff:ff.0" count="18" tclass="0x068000"/>
            <c2c bw="44712" count="5"/>
          </gpu>
        </pci>
      </pci>
    </pci>
    <pci busid="0009:01:00.0" class="0x060400" vendor="0x15b3" device="0x197c" subsystem_vendor="0x0000" subsystem_device="0x0000" link_speed="16.0 GT/s PCIe" link_width="1">
      <pci busid="0009:03:00.0" class="0x080100" vendor="0x15b3" device="0x2100" subsystem_vendor="0x15b3" subsystem_device="0x0008" link_speed="64.0 GT/s PCIe" link_width="16">
        <nic>
          <net name="mlx5_0_dma" dev="0" latency="0" speed="800000" port="1" maxconn="131072" gdr="1"/>
        </nic>
      </pci>
      <pci busid="0009:04:00.0" class="0x060400" vendor="0x15b3" device="0x197c" subsystem_vendor="0x0000" subsystem_device="0x0000" link_speed="64.0 GT/s PCIe" link_width="16">
        <pci busid="0009:06:00.0" class="0x030200" vendor="0x10de" device="0x31c2" subsystem_vendor="0x10de" subsystem_device="0x21f1" link_speed="64.0 GT/s PCIe" link_width="16">
          <gpu dev="1" sm="103" rank="5" gdr="1">
            <nvlink target="fffffff:ff:ff.0" count="18" tclass="0x068000"/>
            <c2c bw="44712" count="5"/>
          </gpu>
        </pci>
      </pci>
    </pci>
  </cpu>
  <cpu host_hash="0x1" numaid="1" affinity="ffff,ffffffff,ffffff00,00000000,00000000" arch="arm64">
    <pci busid="0018:01:00.0" class="0x060400" vendor="0x15b3" device="0x197c" subsystem_vendor="0x0000" subsystem_device="0x0000" link_speed="16.0 GT/s PCIe" link_width="1">
      <pci busid="0018:03:00.0" class="0x080100" vendor="0x15b3" device="0x2100" subsystem_vendor="0x15b3" subsystem_device="0x0008" link_speed="64.0 GT/s PCIe" link_width="16">
        <nic>
          <net name="mlx5_3_dma" dev="3" latency="0" speed="800000" port="1" maxconn="131072" gdr="1"/>
        </nic>
      </pci>
      <pci busid="0018:04:00.0" class="0x060400" vendor="0x15b3" device="0x197c" subsystem_vendor="0x0000" subsystem_device="0x0000" link_speed="64.0 GT/s PCIe" link_width="16">
        <pci busid="0018:06:00.0" class="0x030200" vendor="0x10de" device="0x31c2" subsystem_vendor="0x10de" subsystem_device="0x21f1" link_speed="64.0 GT/s PCIe" link_width="16">
          <gpu dev="2" sm="103" rank="6" gdr="1">
            <nvlink target="fffffff:ff:ff.0" count="18" tclass="0x068000"/>
            <c2c bw="44712" count="5"/>
          </gpu>
        </pci>
      </pci>
    </pci>
    <pci busid="0019:01:00.0" class="0x060400" vendor="0x15b3" device="0x197c" subsystem_vendor="0x0000" subsystem_device="0x0000" link_speed="16.0 GT/s PCIe" link_width="1">
      <pci busid="0019:03:00.0" class="0x080100" vendor="0x15b3" device="0x2100" subsystem_vendor="0x15b3" subsystem_device="0x0008" link_speed="64.0 GT/s PCIe" link_width="16">
        <nic>
          <net name="mlx5_2_dma" dev="2" latency="0" speed="800000" port="1" maxconn="131072" gdr="1"/>
        </nic>
      </pci>
      <pci busid="0019:04:00.0" class="0x060400" vendor="0x15b3" device="0x197c" subsystem_vendor="0x0000" subsystem_device="0x0000" link_speed="64.0 GT/s PCIe" link_width="16">
        <pci busid="0019:06:00.0" class="0x030200" vendor="0x10de" device="0x31c2" subsystem_vendor="0x10de" subsystem_device="0x21f1" link_speed="64.0 GT/s PCIe" link_width="16">
          <gpu dev="3" sm="103" rank="7" gdr="1">
            <nvlink target="fffffff:ff:ff.0" count="18" tclass="0x068000"/>
            <c2c bw="44712" count="5"/>
          </gpu>
        </pci>
      </pci>
    </pci>
  </cpu>
  <cpu host_hash="0x2" numaid="0" affinity="0000,00000000,000000ff,ffffffff,ffffffff" arch="arm64">
    <pci busid="0008:01:00.0" class="0x060400" vendor="0x15b3" device="0x197c" subsystem_vendor="0x0000" subsystem_device="0x0000" link_speed="16.0 GT/s PCIe" link_width="1">
      <pci busid="0008:03:00.0" class="0x080100" vendor="0x15b3" device="0x2100" subsystem_vendor="0x15b3" subsystem_device="0x0008" link_speed="64.0 GT/s PCIe" link_width="16">
        <nic>
          <net name="mlx5_1_dma" dev="1" latency="0" speed="800000" port="1" maxconn="131072" gdr="1"/>
        </nic>
      </pci>
      <pci busid="0008:04:00.0" class="0x060400" vendor="0x15b3" device="0x197c" subsystem_vendor="0x0000" subsystem_device="0x0000" link_speed="64.0 GT/s PCIe" link_width="16">
        <pci busid="0008:06:00.0" class="0x030200" vendor="0x10de" device="0x31c2" subsystem_vendor="0x10de" subsystem_device="0x21f1" link_speed="64.0 GT/s PCIe" link_width="16">
          <gpu dev="0" sm="103" rank="8" gdr="1">
            <nvlink target="fffffff:ff:ff.0" count="18" tclass="0x068000"/>
            <c2c bw="44712" count="5"/>
          </gpu>
        </pci>
      </pci>
    </pci>
    <pci busid="0009:01:00.0" class="0x060400" vendor="0x15b3" device="0x197c" subsystem_vendor="0x0000" subsystem_device="0x0000" link_speed="16.0 GT/s PCIe" link_width="1">
      <pci busid="0009:03:00.0" class="0x080100" vendor="0x15b3" device="0x2100" subsystem_vendor="0x15b3" subsystem_device="0x0008" link_speed="64.0 GT/s PCIe" link_width="16">
        <nic>
          <net name="mlx5_0_dma" dev="0" latency="0" speed="800000" port="1" maxconn="131072" gdr="1"/>
        </nic>
      </pci>
      <pci busid="0009:04:00.0" class="0x060400" vendor="0x15b3" device="0x197c" subsystem_vendor="0x0000" subsystem_device="0x0000" link_speed="64.0 GT/s PCIe" link_width="16">
        <pci busid="0009:06:00.0" class="0x030200" vendor="0x10de" device="0x31c2" subsystem_vendor="0x10de" subsystem_device="0x21f1" link_speed="64.0 GT/s PCIe" link_width="16">
          <gpu dev="1" sm="103" rank="9" gdr="1">
            <nvlink target="fffffff:ff:ff.0" count="18" tclass="0x068000"/>
            <c2c bw="44712" count="5"/>
          </gpu>
        </pci>
      </pci>
    </pci>
  </cpu>
  <cpu host_hash="0x2" numaid="1" affinity="ffff,ffffffff,ffffff00,00000000,00000000" arch="arm64">
    <pci busid="0018:01:00.0" class="0x060400" vendor="0x15b3" device="0x197c" subsystem_vendor="0x0000" subsystem_device="0x0000" link_speed="16.0 GT/s PCIe" link_width="1">
      <pci busid="0018:03:00.0" class="0x080100" vendor="0x15b3" device="0x2100" subsystem_vendor="0x15b3" subsystem_device="0x0008" link_speed="64.0 GT/s PCIe" link_width="16">
        <nic>
          <net name="mlx5_3_dma" dev="3" latency="0" speed="800000" port="1" maxconn="131072" gdr="1"/>
        </nic>
      </pci>
      <pci busid="0018:04:00.0" class="0x060400" vendor="0x15b3" device="0x197c" subsystem_vendor="0x0000" subsystem_device="0x0000" link_speed="64.0 GT/s PCIe" link_width="16">
        <pci busid="0018:06:00.0" class="0x030200" vendor="0x10de" device="0x31c2" subsystem_vendor="0x10de" subsystem_device="0x21f1" link_speed="64.0 GT/s PCIe" link_width="16">
          <gpu dev="2" sm="103" rank="10" gdr="1">
            <nvlink target="fffffff:ff:ff.0" count="18" tclass="0x068000"/>
            <c2c bw="44712" count="5"/>
          </gpu>
        </pci>
      </pci>
    </pci>
    <pci busid="0019:01:00.0" class="0x060400" vendor="0x15b3" device="0x197c" subsystem_vendor="0x0000" subsystem_device="0x0000" link_speed="16.0 GT/s PCIe" link_width="1">
      <pci busid="0019:03:00.0" class="0x080100" vendor="0x15b3" device="0x2100" subsystem_vendor="0x15b3" subsystem_device="0x0008" link_speed="64.0 GT/s PCIe" link_width="16">
        <nic>
          <net name="mlx5_2_dma" dev="2" latency="0" speed="800000" port="1" maxconn="131072" gdr="1"/>
        </nic>
      </pci>
      <pci busid="0019:04:00.0" class="0x060400" vendor="0x15b3" device="0x197c" subsystem_vendor="0x0000" subsystem_device="0x0000" link_speed="64.0 GT/s PCIe" link_width="16">
        <pci busid="0019:06:00.0" class="0x030200" vendor="0x10de" device="0x31c2" subsystem_vendor="0x10de" subsystem_device="0x21f1" link_speed="64.0 GT/s PCIe" link_width="16">
          <gpu dev="3" sm="103" rank="11" gdr="1">
            <nvlink target="fffffff:ff:ff.0" count="18" tclass="0x068000"/>
            <c2c bw="44712" count="5"/>
          </gpu>
        </pci>
      </pci>
    </pci>
  </cpu>
  <cpu host_hash="0x3" numaid="0" affinity="0000,00000000,000000ff,ffffffff,ffffffff" arch="arm64">
    <pci busid="0008:01:00.0" class="0x060400" vendor="0x15b3" device="0x197c" subsystem_vendor="0x0000" subsystem_device="0x0000" link_speed="16.0 GT/s PCIe" link_width="1">
      <pci busid="0008:03:00.0" class="0x080100" vendor="0x15b3" device="0x2100" subsystem_vendor="0x15b3" subsystem_device="0x0008" link_speed="64.0 GT/s PCIe" link_width="16">
        <nic>
          <net name="mlx5_1_dma" dev="1" latency="0" speed="800000" port="1" maxconn="131072" gdr="1"/>
        </nic>
      </pci>
      <pci busid="0008:04:00.0" class="0x060400" vendor="0x15b3" device="0x197c" subsystem_vendor="0x0000" subsystem_device="0x0000" link_speed="64.0 GT/s PCIe" link_width="16">
        <pci busid="0008:06:00.0" class="0x030200" vendor="0x10de" device="0x31c2" subsystem_vendor="0x10de" subsystem_device="0x21f1" link_speed="64.0 GT/s PCIe" link_width="16">
          <gpu dev="0" sm="103" rank="12" gdr="1">
            <nvlink target="fffffff:ff:ff.0" count="18" tclass="0x068000"/>
            <c2c bw="44712" count="5"/>
          </gpu>
        </pci>
      </pci>
    </pci>
    <pci busid="0009:01:00.0" class="0x060400" vendor="0x15b3" device="0x197c" subsystem_vendor="0x0000" subsystem_device="0x0000" link_speed="16.0 GT/s PCIe" link_width="1">
      <pci busid="0009:03:00.0" class="0x080100" vendor="0x15b3" device="0x2100" subsystem_vendor="0x15b3" subsystem_device="0x0008" link_speed="64.0 GT/s PCIe" link_width="16">
        <nic>
          <net name="mlx5_0_dma" dev="0" latency="0" speed="800000" port="1" maxconn="131072" gdr="1"/>
        </nic>
      </pci>
      <pci busid="0009:04:00.0" class="0x060400" vendor="0x15b3" device="0x197c" subsystem_vendor="0x0000" subsystem_device="0x0000" link_speed="64.0 GT/s PCIe" link_width="16">
        <pci busid="0009:06:00.0" class="0x030200" vendor="0x10de" device="0x31c2" subsystem_vendor="0x10de" subsystem_device="0x21f1" link_speed="64.0 GT/s PCIe" link_width="16">
          <gpu dev="1" sm="103" rank="13" gdr="1">
            <nvlink target="fffffff:ff:ff.0" count="18" tclass="0x068000"/>
            <c2c bw="44712" count="5"/>
          </gpu>
        </pci>
      </pci>
    </pci>
  </cpu>
  <cpu host_hash="0x3" numaid="1" affinity="ffff,ffffffff,ffffff00,00000000,00000000" arch="arm64">
    <pci busid="0018:01:00.0" class="0x060400" vendor="0x15b3" device="0x197c" subsystem_vendor="0x0000" subsystem_device="0x0000" link_speed="16.0 GT/s PCIe" link_width="1">
      <pci busid="0018:03:00.0" class="0x080100" vendor="0x15b3" device="0x2100" subsystem_vendor="0x15b3" subsystem_device="0x0008" link_speed="64.0 GT/s PCIe" link_width="16">
        <nic>
          <net name="mlx5_3_dma" dev="3" latency="0" speed="800000" port="1" maxconn="131072" gdr="1"/>
        </nic>
      </pci>
      <pci busid="0018:04:00.0" class="0x060400" vendor="0x15b3" device="0x197c" subsystem_vendor="0x0000" subsystem_device="0x0000" link_speed="64.0 GT/s PCIe" link_width="16">
        <pci busid="0018:06:00.0" class="0x030200" vendor="0x10de" device="0x31c2" subsystem_vendor="0x10de" subsystem_device="0x21f1" link_speed="64.0 GT/s PCIe" link_width="16">
          <gpu dev="2" sm="103" rank="14" gdr="1">
            <nvlink target="fffffff:ff:ff.0" count="18" tclass="0x068000"/>
            <c2c bw="44712" count="5"/>
          </gpu>
        </pci>
      </pci>
    </pci>
    <pci busid="0019:01:00.0" class="0x060400" vendor="0x15b3" device="0x197c" subsystem_vendor="0x0000" subsystem_device="0x0000" link_speed="16.0 GT/s PCIe" link_width="1">
      <pci busid="0019:03:00.0" class="0x080100" vendor="0x15b3" device="0x2100" subsystem_vendor="0x15b3" subsystem_device="0x0008" link_speed="64.0 GT/s PCIe" link_width="16">
        <nic>
          <net name="mlx5_2_dma" dev="2" latency="0" speed="800000" port="1" maxconn="131072" gdr="1"/>
        </nic>
      </pci>
      <pci busid="0019:04:00.0" class="0x060400" vendor="0x15b3" device="0x197c" subsystem_vendor="0x0000" subsystem_device="0x0000" link_speed="64.0 GT/s PCIe" link_width="16">
        <pci busid="0019:06:00.0" class="0x030200" vendor="0x10de" device="0x31c2" subsystem_vendor="0x10de" subsystem_device="0x21f1" link_speed="64.0 GT/s PCIe" link_width="16">
          <gpu dev="3" sm="103" rank="15" gdr="1">
            <nvlink target="fffffff:ff:ff.0" count="18" tclass="0x068000"/>
            <c2c bw="44712" count="5"/>
          </gpu>
        </pci>
      </pci>
    </pci>
  </cpu>
  <cpu host_hash="0x4" numaid="0" affinity="0000,00000000,000000ff,ffffffff,ffffffff" arch="arm64">
    <pci busid="0008:01:00.0" class="0x060400" vendor="0x15b3" device="0x197c" subsystem_vendor="0x0000" subsystem_device="0x0000" link_speed="16.0 GT/s PCIe" link_width="1">
      <pci busid="0008:03:00.0" class="0x080100" vendor="0x15b3" device="0x2100" subsystem_vendor="0x15b3" subsystem_device="0x0008" link_speed="64.0 GT/s PCIe" link_width="16">
        <nic>
          <net name="mlx5_1_dma" dev="1" latency="0" speed="800000" port="1" maxconn="131072" gdr="1"/>
        </nic>
      </pci>
      <pci busid="0008:04:00.0" class="0x060400" vendor="0x15b3" device="0x197c" subsystem_vendor="0x0000" subsystem_device="0x0000" link_speed="64.0 GT/s PCIe" link_width="16">
        <pci busid="0008:06:00.0" class="0x030200" vendor="0x10de" device="0x31c2" subsystem_vendor="0x10de" subsystem_device="0x21f1" link_speed="64.0 GT/s PCIe" link_width="16">
          <gpu dev="0" sm="103" rank="16" gdr="1">
            <nvlink target="fffffff:ff:ff.0" count="18" tclass="0x068000"/>
            <c2c bw="44712" count="5"/>
          </gpu>
        </pci>
      </pci>
    </pci>
    <pci busid="0009:01:00.0" class="0x060400" vendor="0x15b3" device="0x197c" subsystem_vendor="0x0000" subsystem_device="0x0000" link_speed="16.0 GT/s PCIe" link_width="1">
      <pci busid="0009:03:00.0" class="0x080100" vendor="0x15b3" device="0x2100" subsystem_vendor="0x15b3" subsystem_device="0x0008" link_speed="64.0 GT/s PCIe" link_width="16">
        <nic>
          <net name="mlx5_0_dma" dev="0" latency="0" speed="800000" port="1" maxconn="131072" gdr="1"/>
        </nic>
      </pci>
      <pci busid="0009:04:00.0" class="0x060400" vendor="0x15b3" device="0x197c" subsystem_vendor="0x0000" subsystem_device="0x0000" link_speed="64.0 GT/s PCIe" link_width="16">
        <pci busid="0009:06:00.0" class="0x030200" vendor="0x10de" device="0x31c2" subsystem_vendor="0x10de" subsystem_device="0x21f1" link_speed="64.0 GT/s PCIe" link_width="16">
          <gpu dev="1" sm="103" rank="17" gdr="1">
            <nvlink target="fffffff:ff:ff.0" count="18" tclass="0x068000"/>
            <c2c bw="44712" count="5"/>
          </gpu>
        </pci>
      </pci>
    </pci>
  </cpu>
  <cpu host_hash="0x4" numaid="1" affinity="ffff,ffffffff,ffffff00,00000000,00000000" arch="arm64">
    <pci busid="0018:01:00.0" class="0x060400" vendor="0x15b3" device="0x197c" subsystem_vendor="0x0000" subsystem_device="0x0000" link_speed="16.0 GT/s PCIe" link_width="1">
      <pci busid="0018:03:00.0" class="0x080100" vendor="0x15b3" device="0x2100" subsystem_vendor="0x15b3" subsystem_device="0x0008" link_speed="64.0 GT/s PCIe" link_width="16">
        <nic>
          <net name="mlx5_3_dma" dev="3" latency="0" speed="800000" port="1" maxconn="131072" gdr="1"/>
        </nic>
      </pci>
      <pci busid="0018:04:00.0" class="0x060400" vendor="0x15b3" device="0x197c" subsystem_vendor="0x0000" subsystem_device="0x0000" link_speed="64.0 GT/s PCIe" link_width="16">
        <pci busid="0018:06:00.0" class="0x030200" vendor="0x10de" device="0x31c2" subsystem_vendor="0x10de" subsystem_device="0x21f1" link_speed="64.0 GT/s PCIe" link_width="16">
          <gpu dev="2" sm="103" rank="18" gdr="1">
            <nvlink target="fffffff:ff:ff.0" count="18" tclass="0x068000"/>
            <c2c bw="44712" count="5"/>
          </gpu>
        </pci>
      </pci>
    </pci>
    <pci busid="0019:01:00.0" class="0x060400" vendor="0x15b3" device="0x197c" subsystem_vendor="0x0000" subsystem_device="0x0000" link_speed="16.0 GT/s PCIe" link_width="1">
      <pci busid="0019:03:00.0" class="0x080100" vendor="0x15b3" device="0x2100" subsystem_vendor="0x15b3" subsystem_device="0x0008" link_speed="64.0 GT/s PCIe" link_width="16">
        <nic>
          <net name="mlx5_2_dma" dev="2" latency="0" speed="800000" port="1" maxconn="131072" gdr="1"/>
        </nic>
      </pci>
      <pci busid="0019:04:00.0" class="0x060400" vendor="0x15b3" device="0x197c" subsystem_vendor="0x0000" subsystem_device="0x0000" link_speed="64.0 GT/s PCIe" link_width="16">
        <pci busid="0019:06:00.0" class="0x030200" vendor="0x10de" device="0x31c2" subsystem_vendor="0x10de" subsystem_device="0x21f1" link_speed="64.0 GT/s PCIe" link_width="16">
          <gpu dev="3" sm="103" rank="19" gdr="1">
            <nvlink target="fffffff:ff:ff.0" count="18" tclass="0x068000"/>
            <c2c bw="44712" count="5"/>
          </gpu>
        </pci>
      </pci>
    </pci>
  </cpu>
  <cpu host_hash="0x5" numaid="0" affinity="0000,00000000,000000ff,ffffffff,ffffffff" arch="arm64">
    <pci busid="0008:01:00.0" class="0x060400" vendor="0x15b3" device="0x197c" subsystem_vendor="0x0000" subsystem_device="0x0000" link_speed="16.0 GT/s PCIe" link_width="1">
      <pci busid="0008:03:00.0" class="0x080100" vendor="0x15b3" device="0x2100" subsystem_vendor="0x15b3" subsystem_device="0x0008" link_speed="64.0 GT/s PCIe" link_width="16">
        <nic>
          <net name="mlx5_1_dma" dev="1" latency="0" speed="800000" port="1" maxconn="131072" gdr="1"/>
        </nic>
      </pci>
      <pci busid="0008:04:00.0" class="0x060400" vendor="0x15b3" device="0x197c" subsystem_vendor="0x0000" subsystem_device="0x0000" link_speed="64.0 GT/s PCIe" link_width="16">
        <pci busid="0008:06:00.0" class="0x030200" vendor="0x10de" device="0x31c2" subsystem_vendor="0x10de" subsystem_device="0x21f1" link_speed="64.0 GT/s PCIe" link_width="16">
          <gpu dev="0" sm="103" rank="20" gdr="1">
            <nvlink target="fffffff:ff:ff.0" count="18" tclass="0x068000"/>
            <c2c bw="44712" count="5"/>
          </gpu>
        </pci>
      </pci>
    </pci>
    <pci busid="0009:01:00.0" class="0x060400" vendor="0x15b3" device="0x197c" subsystem_vendor="0x0000" subsystem_device="0x0000" link_speed="16.0 GT/s PCIe" link_width="1">
      <pci busid="0009:03:00.0" class="0x080100" vendor="0x15b3" device="0x2100" subsystem_vendor="0x15b3" subsystem_device="0x0008" link_speed="64.0 GT/s PCIe" link_width="16">
        <nic>
          <net name="mlx5_0_dma" dev="0" latency="0" speed="800000" port="1" maxconn="131072" gdr="1"/>
        </nic>
      </pci>
      <pci busid="0009:04:00.0" class="0x060400" vendor="0x15b3" device="0x197c" subsystem_vendor="0x0000" subsystem_device="0x0000" link_speed="64.0 GT/s PCIe" link_width="16">
        <pci busid="0009:06:00.0" class="0x030200" vendor="0x10de" device="0x31c2" subsystem_vendor="0x10de" subsystem_device="0x21f1" link_speed="64.0 GT/s PCIe" link_width="16">
          <gpu dev="1" sm="103" rank="21" gdr="1">
            <nvlink target="fffffff:ff:ff.0" count="18" tclass="0x068000"/>
            <c2c bw="44712" count="5"/>
          </gpu>
        </pci>
      </pci>
    </pci>
  </cpu>
  <cpu host_hash="0x5" numaid="1" affinity="ffff,ffffffff,ffffff00,00000000,00000000" arch="arm64">
    <pci busid="0018:01:00.0" class="0x060400" vendor="0x15b3" device="0x197c" subsystem_vendor="0x0000" subsystem_device="0x0000" link_speed="16.0 GT/s PCIe" link_width="1">
      <pci busid="0018:03:00.0" class="0x080100" vendor="0x15b3" device="0x2100" subsystem_vendor="0x15b3" subsystem_device="0x0008" link_speed="64.0 GT/s PCIe" link_width="16">
        <nic>
          <net name="mlx5_3_dma" dev="3" latency="0" speed="800000" port="1" maxconn="131072" gdr="1"/>
        </nic>
      </pci>
      <pci busid="0018:04:00.0" class="0x060400" vendor="0x15b3" device="0x197c" subsystem_vendor="0x0000" subsystem_device="0x0000" link_speed="64.0 GT/s PCIe" link_width="16">
        <pci busid="0018:06:00.0" class="0x030200" vendor="0x10de" device="0x31c2" subsystem_vendor="0x10de" subsystem_device="0x21f1" link_speed="64.0 GT/s PCIe" link_width="16">
          <gpu dev="2" sm="103" rank="22" gdr="1">
            <nvlink target="fffffff:ff:ff.0" count="18" tclass="0x068000"/>
            <c2c bw="44712" count="5"/>
          </gpu>
        </pci>
      </pci>
    </pci>
    <pci busid="0019:01:00.0" class="0x060400" vendor="0x15b3" device="0x197c" subsystem_vendor="0x0000" subsystem_device="0x0000" link_speed="16.0 GT/s PCIe" link_width="1">
      <pci busid="0019:03:00.0" class="0x080100" vendor="0x15b3" device="0x2100" subsystem_vendor="0x15b3" subsystem_device="0x0008" link_speed="64.0 GT/s PCIe" link_width="16">
        <nic>
          <net name="mlx5_2_dma" dev="2" latency="0" speed="800000" port="1" maxconn="131072" gdr="1"/>
        </nic>
      </pci>
      <pci busid="0019:04:00.0" class="0x060400" vendor="0x15b3" device="0x197c" subsystem_vendor="0x0000" subsystem_device="0x0000" link_speed="64.0 GT/s PCIe" link_width="16">
        <pci busid="0019:06:00.0" class="0x030200" vendor="0x10de" device="0x31c2" subsystem_vendor="0x10de" subsystem_device="0x21f1" link_speed="64.0 GT/s PCIe" link_width="16">
          <gpu dev="3" sm="103" rank="23" gdr="1">
            <nvlink target="fffffff:ff:ff.0" count="18" tclass="0x068000"/>
            <c2c bw="44712" count="5"/>
          </gpu>
        </pci>
      </pci>
    </pci>
  </cpu>
  <cpu host_hash="0x6" numaid="0" affinity="0000,00000000,000000ff,ffffffff,ffffffff" arch="arm64">
    <pci busid="0008:01:00.0" class="0x060400" vendor="0x15b3" device="0x197c" subsystem_vendor="0x0000" subsystem_device="0x0000" link_speed="16.0 GT/s PCIe" link_width="1">
      <pci busid="0008:03:00.0" class="0x080100" vendor="0x15b3" device="0x2100" subsystem_vendor="0x15b3" subsystem_device="0x0008" link_speed="64.0 GT/s PCIe" link_width="16">
        <nic>
          <net name="mlx5_1_dma" dev="1" latency="0" speed="800000" port="1" maxconn="131072" gdr="1"/>
        </nic>
      </pci>
      <pci busid="0008:04:00.0" class="0x060400" vendor="0x15b3" device="0x197c" subsystem_vendor="0x0000" subsystem_device="0x0000" link_speed="64.0 GT/s PCIe" link_width="16">
        <pci busid="0008:06:00.0" class="0x030200" vendor="0x10de" device="0x31c2" subsystem_vendor="0x10de" subsystem_device="0x21f1" link_speed="64.0 GT/s PCIe" link_width="16">
          <gpu dev="0" sm="103" rank="24" gdr="1">
            <nvlink target="fffffff:ff:ff.0" count="18" tclass="0x068000"/>
            <c2c bw="44712" count="5"/>
          </gpu>
        </pci>
      </pci>
    </pci>
    <pci busid="0009:01:00.0" class="0x060400" vendor="0x15b3" device="0x197c" subsystem_vendor="0x0000" subsystem_device="0x0000" link_speed="16.0 GT/s PCIe" link_width="1">
      <pci busid="0009:03:00.0" class="0x080100" vendor="0x15b3" device="0x2100" subsystem_vendor="0x15b3" subsystem_device="0x0008" link_speed="64.0 GT/s PCIe" link_width="16">
        <nic>
          <net name="mlx5_0_dma" dev="0" latency="0" speed="800000" port="1" maxconn="131072" gdr="1"/>
        </nic>
      </pci>
      <pci busid="0009:04:00.0" class="0x060400" vendor="0x15b3" device="0x197c" subsystem_vendor="0x0000" subsystem_device="0x0000" link_speed="64.0 GT/s PCIe" link_width="16">
        <pci busid="0009:06:00.0" class="0x030200" vendor="0x10de" device="0x31c2" subsystem_vendor="0x10de" subsystem_device="0x21f1" link_speed="64.0 GT/s PCIe" link_width="16">
          <gpu dev="1" sm="103" rank="25" gdr="1">
            <nvlink target="fffffff:ff:ff.0" count="18" tclass="0x068000"/>
            <c2c bw="44712" count="5"/>
          </gpu>
        </pci>
      </pci>
    </pci>
  </cpu>
  <cpu host_hash="0x6" numaid="1" affinity="ffff,ffffffff,ffffff00,00000000,00000000" arch="arm64">
    <pci busid="0018:01:00.0" class="0x060400" vendor="0x15b3" device="0x197c" subsystem_vendor="0x0000" subsystem_device="0x0000" link_speed="16.0 GT/s PCIe" link_width="1">
      <pci busid="0018:03:00.0" class="0x080100" vendor="0x15b3" device="0x2100" subsystem_vendor="0x15b3" subsystem_device="0x0008" link_speed="64.0 GT/s PCIe" link_width="16">
        <nic>
          <net name="mlx5_3_dma" dev="3" latency="0" speed="800000" port="1" maxconn="131072" gdr="1"/>
        </nic>
      </pci>
      <pci busid="0018:04:00.0" class="0x060400" vendor="0x15b3" device="0x197c" subsystem_vendor="0x0000" subsystem_device="0x0000" link_speed="64.0 GT/s PCIe" link_width="16">
        <pci busid="0018:06:00.0" class="0x030200" vendor="0x10de" device="0x31c2" subsystem_vendor="0x10de" subsystem_device="0x21f1" link_speed="64.0 GT/s PCIe" link_width="16">
          <gpu dev="2" sm="103" rank="26" gdr="1">
            <nvlink target="fffffff:ff:ff.0" count="18" tclass="0x068000"/>
            <c2c bw="44712" count="5"/>
          </gpu>
        </pci>
      </pci>
    </pci>
    <pci busid="0019:01:00.0" class="0x060400" vendor="0x15b3" device="0x197c" subsystem_vendor="0x0000" subsystem_device="0x0000" link_speed="16.0 GT/s PCIe" link_width="1">
      <pci busid="0019:03:00.0" class="0x080100" vendor="0x15b3" device="0x2100" subsystem_vendor="0x15b3" subsystem_device="0x0008" link_speed="64.0 GT/s PCIe" link_width="16">
        <nic>
          <net name="mlx5_2_dma" dev="2" latency="0" speed="800000" port="1" maxconn="131072" gdr="1"/>
        </nic>
      </pci>
      <pci busid="0019:04:00.0" class="0x060400" vendor="0x15b3" device="0x197c" subsystem_vendor="0x0000" subsystem_device="0x0000" link_speed="64.0 GT/s PCIe" link_width="16">
        <pci busid="0019:06:00.0" class="0x030200" vendor="0x10de" device="0x31c2" subsystem_vendor="0x10de" subsystem_device="0x21f1" link_speed="64.0 GT/s PCIe" link_width="16">
          <gpu dev="3" sm="103" rank="27" gdr="1">
            <nvlink target="fffffff:ff:ff.0" count="18" tclass="0x068000"/>
            <c2c bw="44712" count="5"/>
          </gpu>
        </pci>
      </pci>
    </pci>
  </cpu>
  <cpu host_hash="0x7" numaid="0" affinity="0000,00000000,000000ff,ffffffff,ffffffff" arch="arm64">
    <pci busid="0008:01:00.0" class="0x060400" vendor="0x15b3" device="0x197c" subsystem_vendor="0x0000" subsystem_device="0x0000" link_speed="16.0 GT/s PCIe" link_width="1">
      <pci busid="0008:03:00.0" class="0x080100" vendor="0x15b3" device="0x2100" subsystem_vendor="0x15b3" subsystem_device="0x0008" link_speed="64.0 GT/s PCIe" link_width="16">
        <nic>
          <net name="mlx5_1_dma" dev="1" latency="0" speed="800000" port="1" maxconn="131072" gdr="1"/>
        </nic>
      </pci>
      <pci busid="0008:04:00.0" class="0x060400" vendor="0x15b3" device="0x197c" subsystem_vendor="0x0000" subsystem_device="0x0000" link_speed="64.0 GT/s PCIe" link_width="16">
        <pci busid="0008:06:00.0" class="0x030200" vendor="0x10de" device="0x31c2" subsystem_vendor="0x10de" subsystem_device="0x21f1" link_speed="64.0 GT/s PCIe" link_width="16">
          <gpu dev="0" sm="103" rank="28" gdr="1">
            <nvlink target="fffffff:ff:ff.0" count="18" tclass="0x068000"/>
            <c2c bw="44712" count="5"/>
          </gpu>
        </pci>
      </pci>
    </pci>
    <pci busid="0009:01:00.0" class="0x060400" vendor="0x15b3" device="0x197c" subsystem_vendor="0x0000" subsystem_device="0x0000" link_speed="16.0 GT/s PCIe" link_width="1">
      <pci busid="0009:03:00.0" class="0x080100" vendor="0x15b3" device="0x2100" subsystem_vendor="0x15b3" subsystem_device="0x0008" link_speed="64.0 GT/s PCIe" link_width="16">
        <nic>
          <net name="mlx5_0_dma" dev="0" latency="0" speed="800000" port="1" maxconn="131072" gdr="1"/>
        </nic>
      </pci>
      <pci busid="0009:04:00.0" class="0x060400" vendor="0x15b3" device="0x197c" subsystem_vendor="0x0000" subsystem_device="0x0000" link_speed="64.0 GT/s PCIe" link_width="16">
        <pci busid="0009:06:00.0" class="0x030200" vendor="0x10de" device="0x31c2" subsystem_vendor="0x10de" subsystem_device="0x21f1" link_speed="64.0 GT/s PCIe" link_width="16">
          <gpu dev="1" sm="103" rank="29" gdr="1">
            <nvlink target="fffffff:ff:ff.0" count="18" tclass="0x068000"/>
            <c2c bw="44712" count="5"/>
          </gpu>
        </pci>
      </pci>
    </pci>
  </cpu>
  <cpu host_hash="0x7" numaid="1" affinity="ffff,ffffffff,ffffff00,00000000,00000000" arch="arm64">
    <pci busid="0018:01:00.0" class="0x060400" vendor="0x15b3" device="0x197c" subsystem_vendor="0x0000" subsystem_device="0x0000" link_speed="16.0 GT/s PCIe" link_width="1">
      <pci busid="0018:03:00.0" class="0x080100" vendor="0x15b3" device="0x2100" subsystem_vendor="0x15b3" subsystem_device="0x0008" link_speed="64.0 GT/s PCIe" link_width="16">
        <nic>
          <net name="mlx5_3_dma" dev="3" latency="0" speed="800000" port="1" maxconn="131072" gdr="1"/>
        </nic>
      </pci>
      <pci busid="0018:04:00.0" class="0x060400" vendor="0x15b3" device="0x197c" subsystem_vendor="0x0000" subsystem_device="0x0000" link_speed="64.0 GT/s PCIe" link_width="16">
        <pci busid="0018:06:00.0" class="0x030200" vendor="0x10de" device="0x31c2" subsystem_vendor="0x10de" subsystem_device="0x21f1" link_speed="64.0 GT/s PCIe" link_width="16">
          <gpu dev="2" sm="103" rank="30" gdr="1">
            <nvlink target="fffffff:ff:ff.0" count="18" tclass="0x068000"/>
            <c2c bw="44712" count="5"/>
          </gpu>
        </pci>
      </pci>
    </pci>
    <pci busid="0019:01:00.0" class="0x060400" vendor="0x15b3" device="0x197c" subsystem_vendor="0x0000" subsystem_device="0x0000" link_speed="16.0 GT/s PCIe" link_width="1">
      <pci busid="0019:03:00.0" class="0x080100" vendor="0x15b3" device="0x2100" subsystem_vendor="0x15b3" subsystem_device="0x0008" link_speed="64.0 GT/s PCIe" link_width="16">
        <nic>
          <net name="mlx5_2_dma" dev="2" latency="0" speed="800000" port="1" maxconn="131072" gdr="1"/>
        </nic>
      </pci>
      <pci busid="0019:04:00.0" class="0x060400" vendor="0x15b3" device="0x197c" subsystem_vendor="0x0000" subsystem_device="0x0000" link_speed="64.0 GT/s PCIe" link_width="16">
        <pci busid="0019:06:00.0" class="0x030200" vendor="0x10de" device="0x31c2" subsystem_vendor="0x10de" subsystem_device="0x21f1" link_speed="64.0 GT/s PCIe" link_width="16">
          <gpu dev="3" sm="103" rank="31" gdr="1">
            <nvlink target="fffffff:ff:ff.0" count="18" tclass="0x068000"/>
            <c2c bw="44712" count="5"/>
          </gpu>
        </pci>
      </pci>
    </pci>
  </cpu>
</system>