<system version="1">
  <cpu numaid="0" affinity="0,00000000,00000000,00000000,00000000,00000000,00000000,000000ff,ffffffff,ffffffff" arch="arm64">
    <pci busid="0009:01:00.0" class="0x030200" vendor="0x10de" device="0x2342" subsystem_vendor="0x10de" subsystem_device="0x16eb" link_speed="16.0 GT/s PCIe" link_width="1">
      <gpu dev="0" sm="90" rank="0" gdr="1">
        <nvlink target="0019:01:00.0" count="6" tclass="0x030200"/>
        <nvlink target="0039:01:00.0" count="6" tclass="0x030200"/>
        <nvlink target="0029:01:00.0" count="6" tclass="0x030200"/>
        <c2c bw="44712" count="10"/>
      </gpu>
    </pci>
    <pci busid="0000:01:00.0" class="0x060400" vendor="0x15b3" device="0x1979" subsystem_vendor="0x0000" subsystem_device="0x0000" link_speed="32.0 GT/s PCIe" link_width="16">
      <pci busid="0000:03:00.0" class="0x020700" vendor="0x15b3" device="0x1021" subsystem_vendor="0x15b3" subsystem_device="0x0050" link_speed="32.0 GT/s PCIe" link_width="16">
        <nic>
          <net name="mlx5_0" dev="0" speed="400000" port="1" latency="0.000000" guid="0x760c570003ae6d94" maxconn="131072" gdr="1"/>
        </nic>
      </pci>
    </pci>
    <pci busid="0002:01:00.0" class="0x020700" vendor="0x15b3" device="0x1021" subsystem_vendor="0x15b3" subsystem_device="0x0050" link_speed="32.0 GT/s PCIe" link_width="16">
      <nic>
        <net name="mlx5_1" dev="1" speed="400000" port="1" latency="0.000000" guid="0xa20a570003ae6d94" maxconn="131072" gdr="1"/>
      </nic>
    </pci>
    <pci busid="0005:01:00.0" class="0x020700" vendor="0x15b3" device="0x1021" subsystem_vendor="0x15b3" subsystem_device="0x0050" link_speed="32.0 GT/s PCIe" link_width="8">
      <nic>
        <net name="mlx5_2" dev="2" speed="400000" port="1" latency="0.000000" guid="0x9a0a570003ae6d94" maxconn="131072" gdr="1"/>
      </nic>
    </pci>
  </cpu>
  <cpu numaid="1" affinity="0,00000000,00000000,00000000,00000000,0001ffff,ffffffff,ffffff00,00000000,00000000" arch="arm64">
    <pci busid="0019:01:00.0" class="0x030200" vendor="0x10de" device="0x2342" subsystem_vendor="0x10de" subsystem_device="0x16eb" link_speed="16.0 GT/s PCIe" link_width="1">
      <gpu dev="1" sm="90" rank="1" gdr="1">
        <nvlink target="0009:01:00.0" count="6" tclass="0x030200"/>
        <nvlink target="0029:01:00.0" count="6" tclass="0x030200"/>
        <nvlink target="0039:01:00.0" count="6" tclass="0x030200"/>
        <c2c bw="44712" count="10"/>
      </gpu>
    </pci>
    <pci busid="0010:01:00.0" class="0x060400" vendor="0x15b3" device="0x1979" subsystem_vendor="0x0000" subsystem_device="0x0000" link_speed="32.0 GT/s PCIe" link_width="16">
      <pci busid="0010:03:00.0" class="0x020700" vendor="0x15b3" device="0x1021" subsystem_vendor="0x15b3" subsystem_device="0x0050" link_speed="32.0 GT/s PCIe" link_width="16">
        <nic>
          <net name="mlx5_3" dev="3" speed="400000" port="1" latency="0.000000" guid="0x720c570003ae6d94" maxconn="131072" gdr="1"/>
        </nic>
      </pci>
    </pci>
    <pci busid="0012:01:00.0" class="0x020700" vendor="0x15b3" device="0x1021" subsystem_vendor="0x15b3" subsystem_device="0x0050" link_speed="32.0 GT/s PCIe" link_width="16">
      <nic>
        <net name="mlx5_4" dev="4" speed="400000" port="1" latency="0.000000" guid="0xa60a570003ae6d94" maxconn="131072" gdr="1"/>
      </nic>
    </pci>
    <pci busid="0015:01:00.0" class="0x020700" vendor="0x15b3" device="0x1021" subsystem_vendor="0x15b3" subsystem_device="0x0050" link_speed="32.0 GT/s PCIe" link_width="8">
      <nic>
        <net name="mlx5_5" dev="5" speed="400000" port="1" latency="0.000000" guid="0x9e0a570003ae6d94" maxconn="131072" gdr="1"/>
      </nic>
    </pci>
    <pci busid="0017:01:00.0" class="0x020700" vendor="0x15b3" device="0x1021" subsystem_vendor="0x15b3" subsystem_device="0x0050" link_speed="32.0 GT/s PCIe" link_width="8">
      <nic>
        <net name="mlx5_6" dev="6" speed="400000" port="1" latency="0.000000" guid="0xa20a570003ae6d94" maxconn="131072" gdr="1"/>
      </nic>
    </pci>
  </cpu>
  <cpu numaid="2" affinity="0,00000000,00000000,03ffffff,ffffffff,fffe0000,00000000,00000000,00000000,00000000" arch="arm64">
    <pci busid="0029:01:00.0" class="0x030200" vendor="0x10de" device="0x2342" subsystem_vendor="0x10de" subsystem_device="0x16eb" link_speed="16.0 GT/s PCIe" link_width="1">
      <gpu dev="2" sm="90" rank="2" gdr="1">
        <nvlink target="0039:01:00.0" count="6" tclass="0x030200"/>
        <nvlink target="0019:01:00.0" count="6" tclass="0x030200"/>
        <nvlink target="0009:01:00.0" count="6" tclass="0x030200"/>
        <c2c bw="44712" count="10"/>
      </gpu>
    </pci>
    <pci busid="0020:01:00.0" class="0x060400" vendor="0x15b3" device="0x1979" subsystem_vendor="0x0000" subsystem_device="0x0000" link_speed="32.0 GT/s PCIe" link_width="16">
      <pci busid="0020:03:00.0" class="0x020700" vendor="0x15b3" device="0x1021" subsystem_vendor="0x15b3" subsystem_device="0x0050" link_speed="32.0 GT/s PCIe" link_width="16">
        <nic>
          <net name="mlx5_7" dev="7" speed="400000" port="1" latency="0.000000" guid="0x6a0c570003ae6d94" maxconn="131072" gdr="1"/>
        </nic>
      </pci>
    </pci>
    <pci busid="0022:01:00.0" class="0x020700" vendor="0x15b3" device="0x1021" subsystem_vendor="0x15b3" subsystem_device="0x0050" link_speed="32.0 GT/s PCIe" link_width="16">
      <nic>
        <net name="mlx5_8" dev="8" speed="400000" port="1" latency="0.000000" guid="0x9e0a570003ae6d94" maxconn="131072" gdr="1"/>
      </nic>
    </pci>
  </cpu>
  <cpu numaid="3" affinity="7,ffffffff,ffffffff,fc000000,00000000,00000000,00000000,00000000,00000000,00000000" arch="arm64">
    <pci busid="0039:01:00.0" class="0x030200" vendor="0x10de" device="0x2342" subsystem_vendor="0x10de" subsystem_device="0x16eb" link_speed="16.0 GT/s PCIe" link_width="1">
      <gpu dev="3" sm="90" rank="3" gdr="1">
        <nvlink target="0029:01:00.0" count="6" tclass="0x030200"/>
        <nvlink target="0009:01:00.0" count="6" tclass="0x030200"/>
        <nvlink target="0019:01:00.0" count="6" tclass="0x030200"/>
        <c2c bw="44712" count="10"/>
      </gpu>
    </pci>
    <pci busid="0030:01:00.0" class="0x060400" vendor="0x15b3" device="0x1979" subsystem_vendor="0x0000" subsystem_device="0x0000" link_speed="32.0 GT/s PCIe" link_width="16">
      <pci busid="0030:03:00.0" class="0x020700" vendor="0x15b3" device="0x1021" subsystem_vendor="0x15b3" subsystem_device="0x0050" link_speed="32.0 GT/s PCIe" link_width="16">
        <nic>
          <net name="mlx5_9" dev="9" speed="400000" port="1" latency="0.000000" guid="0x6e0c570003ae6d94" maxconn="131072" gdr="1"/>
        </nic>
      </pci>
    </pci>
    <pci busid="0032:01:00.0" class="0x020700" vendor="0x15b3" device="0x1021" subsystem_vendor="0x15b3" subsystem_device="0x0050" link_speed="32.0 GT/s PCIe" link_width="16">
      <nic>
        <net name="mlx5_10" dev="10" speed="400000" port="1" latency="0.000000" guid="0x9a0a570003ae6d94" maxconn="131072" gdr="1"/>
      </nic>
    </pci>
    <pci busid="0035:01:00.0" class="0x020700" vendor="0x15b3" device="0x1021" subsystem_vendor="0x15b3" subsystem_device="0x0050" link_speed="32.0 GT/s PCIe" link_width="8">
      <nic>
        <net name="mlx5_11" dev="11" speed="400000" port="1" latency="0.000000" guid="0xa60a570003ae6d94" maxconn="131072" gdr="1"/>
      </nic>
    </pci>
  </cpu>
</system>
