<system version=1>
  <cpu numaid=0 affinity="0000,0fffff00,000fffff" arch="ppc64">
    <pci busid="0000:05:00.0" class="0x020700" link_speed="16 GT/s" link_width=8>
      <nic type="infiniband">
        <net name="mlx5_0" sys_guid="b859:9f03:004e:b948" link_rate="100 Gb/sec (4X EDR)" dev=0/>
        <net name="mlx5_2" sys_guid="b859:9f03:004e:b948" link_rate="100 Gb/sec (4X EDR)" dev=2/>
      </nic>
    </pci>
    <pci busid="0000:06:00.0" class="0x030200" link_speed="8 GT/s" link_width=16>
      <gpu dev=0 sm=60 rank=0>
        <nvlink target="0000:07:00.0" count=3 tclass="0x030200"/>
        <nvlink target="0000:00:00.0" count=3 tclass="0x068001"/>
      </gpu>
    </pci>
    <pci busid="0000:07:00.0" class="0x030200" link_speed="8 GT/s" link_width=16>
      <gpu dev=1 sm=60 rank=1>
        <nvlink target="0000:06:00.0" count=3 tclass="0x030200"/>
        <nvlink target="0000:00:00.0" count=3 tclass="0x068001"/>
      </gpu>
    </pci>
  </cpu>
  <cpu numaid=1 affinity="ffff,f00000ff,fff00000" arch="ppc64">
    <pci busid="0000:84:00.0" class="0x020700" link_speed="16 GT/s" link_width=8>
      <nic type="infiniband">
        <net name="mlx5_1" sys_guid="b859:9f03:004e:b948" link_rate="100 Gb/sec (4X EDR)" dev=1/>
        <net name="mlx5_3" sys_guid="b859:9f03:004e:b948" link_rate="100 Gb/sec (4X EDR)" dev=3/>
      </nic>
    </pci>
    <pci busid="0000:85:00.0" class="0x030200" link_speed="8 GT/s" link_width=16>
      <gpu dev=2 sm=60 rank=2>
        <nvlink target="0000:86:00.0" count=3 tclass="0x030200"/>
        <nvlink target="0000:80:00.0" count=3 tclass="0x068001"/>
      </gpu>
    </pci>
    <pci busid="0000:86:00.0" class="0x030200" link_speed="8 GT/s" link_width=16>
      <gpu dev=3 sm=60 rank=3>
        <nvlink target="0000:85:00.0" count=3 tclass="0x030200"/>
        <nvlink target="0000:80:00.0" count=3 tclass="0x068001"/>
      </gpu>
    </pci>
  </cpu>
</system>
