<system version="1">
  <cpu host_hash="0x422105f5d04b8a06" numaid="0" affinity="0000,00000000,000000ff,ffffffff,ffffffff" arch="arm64">
    <pci busid="0002:01:00.0" class="0x060400" vendor="0x15b3" device="0x197c" subsystem_vendor="0x0000" subsystem_device="0x0000" link_speed="32.0 GT/s PCIe" link_width="16">
      <pci busid="0002:03:00.0" class="0x020000" vendor="0x15b3" device="0x1023" subsystem_vendor="0x15b3" subsystem_device="0x0008" link_speed="64.0 GT/s PCIe" link_width="16">
        <nic>
          <net name="mlx5_2" dev="0" latency="0" speed="400000" port="1" guid="0x165b060003098c7c" maxconn="131072" gdr="1"/>
          <net name="mlx5_3" dev="2" latency="0" speed="400000" port="2" guid="0x165b060003098c7c" maxconn="131072" gdr="1"/>
        </nic>
      </pci>
    </pci>
    <pci busid="0008:01:00.0" class="0x060400" vendor="0x15b3" device="0x197c" subsystem_vendor="0x0000" subsystem_device="0x0000" link_speed="16.0 GT/s PCIe" link_width="1">
      <pci busid="0008:03:00.0" class="0x080100" vendor="0x15b3" device="0x2100" subsystem_vendor="0x15b3" subsystem_device="0x0008" link_speed="64.0 GT/s PCIe" link_width="16">
        <nic>
          <net name="mlx5_2_dma" dev="1" latency="0" speed="400000" port="1" guid="0x165b060003098c7c" maxconn="131072" gdr="1"/>
          <net name="mlx5_3_dma" dev="3" latency="0" speed="400000" port="1" guid="0x165b060003098c7c" maxconn="131072" gdr="1"/>
        </nic>
      </pci>
      <pci busid="0008:04:00.0" class="0x060400" vendor="0x15b3" device="0x197c" subsystem_vendor="0x0000" subsystem_device="0x0000" link_speed="64.0 GT/s PCIe" link_width="16">
        <pci busid="0008:06:00.0" class="0x030200" vendor="0x10de" device="0x2941" subsystem_vendor="0x10de" subsystem_device="0x2046" link_speed="64.0 GT/s PCIe" link_width="16">
          <gpu dev="0" sm="100" rank="0" gdr="1">
            <nvlink target="0008:06:00.0" count="18" tclass="0x030200"/>
            <c2c bw="44712" count="5"/>
          </gpu>
        </pci>
      </pci>
    </pci>
  </cpu>
</system>