<system version="1">
  <cpu numaid="0" affinity="00000000,00000000,00000000,00000000,00000000,00000000,00000000,000000ff,ffff0000,00ffffff" arch="x86_64" vendor="GenuineIntel" familyid="6" modelid="85">
    <pci busid="0000:2c:00.0" class="0x060400" link_speed="8 GT/s" link_width="16">
      <pci busid="0000:32:00.0" class="0x060400" link_speed="8 GT/s" link_width="16">
        <pci busid="0000:34:00.0" class="0x060400" link_speed="8 GT/s" link_width="16">
          <pci busid="0000:36:00.0" class="0x030200" link_speed="16 GT/s" link_width="16">
            <gpu dev="0" sm="80" rank="0" gdr="0">
              <nvlink target="0000:70:00.0" count="2" tclass="0x068000"/>
              <nvlink target="0000:6d:00.0" count="2" tclass="0x068000"/>
              <nvlink target="0000:6f:00.0" count="2" tclass="0x068000"/>
              <nvlink target="0000:72:00.0" count="2" tclass="0x068000"/>
              <nvlink target="0000:6e:00.0" count="2" tclass="0x068000"/>
              <nvlink target="0000:71:00.0" count="2" tclass="0x068000"/>
            </gpu>
          </pci>
        </pci>
        <pci busid="0000:39:00.0" class="0x060400" link_speed="8 GT/s" link_width="16">
          <pci busid="0000:3b:00.0" class="0x030200" link_speed="16 GT/s" link_width="16">
            <gpu dev="1" sm="80" rank="1" gdr="0">
              <nvlink target="0000:70:00.0" count="2" tclass="0x068000"/>
              <nvlink target="0000:6d:00.0" count="2" tclass="0x068000"/>
              <nvlink target="0000:6f:00.0" count="2" tclass="0x068000"/>
              <nvlink target="0000:72:00.0" count="2" tclass="0x068000"/>
              <nvlink target="0000:6e:00.0" count="2" tclass="0x068000"/>
              <nvlink target="0000:71:00.0" count="2" tclass="0x068000"/>
            </gpu>
          </pci>
        </pci>
      </pci>
      <pci busid="0000:3d:00.0" class="0x060400" link_speed="8 GT/s" link_width="16">
        <pci busid="0000:3f:00.0" class="0x060400" link_speed="8 GT/s" link_width="16">
          <pci busid="0000:41:00.0" class="0x030200" link_speed="16 GT/s" link_width="16">
            <gpu dev="2" sm="80" rank="2" gdr="0">
              <nvlink target="0000:70:00.0" count="2" tclass="0x068000"/>
              <nvlink target="0000:6d:00.0" count="2" tclass="0x068000"/>
              <nvlink target="0000:6f:00.0" count="2" tclass="0x068000"/>
              <nvlink target="0000:72:00.0" count="2" tclass="0x068000"/>
              <nvlink target="0000:6e:00.0" count="2" tclass="0x068000"/>
              <nvlink target="0000:71:00.0" count="2" tclass="0x068000"/>
            </gpu>
          </pci>
        </pci>
        <pci busid="0000:44:00.0" class="0x060400" link_speed="8 GT/s" link_width="16">
          <pci busid="0000:46:00.0" class="0x030200" link_speed="16 GT/s" link_width="16">
            <gpu dev="3" sm="80" rank="3" gdr="0">
              <nvlink target="0000:70:00.0" count="2" tclass="0x068000"/>
              <nvlink target="0000:6d:00.0" count="2" tclass="0x068000"/>
              <nvlink target="0000:6f:00.0" count="2" tclass="0x068000"/>
              <nvlink target="0000:72:00.0" count="2" tclass="0x068000"/>
              <nvlink target="0000:6e:00.0" count="2" tclass="0x068000"/>
              <nvlink target="0000:71:00.0" count="2" tclass="0x068000"/>
            </gpu>
          </pci>
        </pci>
      </pci>
    </pci>
    <pci busid="0000:4f:00.0" class="0x060400" link_speed="8 GT/s" link_width="16">
      <pci busid="0000:55:00.0" class="0x060400" link_speed="8 GT/s" link_width="16">
        <pci busid="0000:57:00.0" class="0x060400" link_speed="8 GT/s" link_width="16">
          <pci busid="0000:59:00.0" class="0x030200" link_speed="16 GT/s" link_width="16">
            <gpu dev="4" sm="80" rank="4" gdr="0">
              <nvlink target="0000:70:00.0" count="2" tclass="0x068000"/>
              <nvlink target="0000:6d:00.0" count="2" tclass="0x068000"/>
              <nvlink target="0000:6f:00.0" count="2" tclass="0x068000"/>
              <nvlink target="0000:72:00.0" count="2" tclass="0x068000"/>
              <nvlink target="0000:6e:00.0" count="2" tclass="0x068000"/>
              <nvlink target="0000:71:00.0" count="2" tclass="0x068000"/>
            </gpu>
          </pci>
        </pci>
        <pci busid="0000:5c:00.0" class="0x060400" link_speed="8 GT/s" link_width="16">
          <pci busid="0000:5e:00.0" class="0x030200" link_speed="16 GT/s" link_width="16">
            <gpu dev="5" sm="80" rank="5" gdr="0">
              <nvlink target="0000:70:00.0" count="2" tclass="0x068000"/>
              <nvlink target="0000:6d:00.0" count="2" tclass="0x068000"/>
              <nvlink target="0000:6f:00.0" count="2" tclass="0x068000"/>
              <nvlink target="0000:72:00.0" count="2" tclass="0x068000"/>
              <nvlink target="0000:6e:00.0" count="2" tclass="0x068000"/>
              <nvlink target="0000:71:00.0" count="2" tclass="0x068000"/>
            </gpu>
          </pci>
        </pci>
      </pci>
      <pci busid="0000:60:00.0" class="0x060400" link_speed="8 GT/s" link_width="16">
        <pci busid="0000:62:00.0" class="0x060400" link_speed="8 GT/s" link_width="16">
          <pci busid="0000:64:00.0" class="0x030200" link_speed="16 GT/s" link_width="16">
            <gpu dev="6" sm="80" rank="6" gdr="0">
              <nvlink target="0000:70:00.0" count="2" tclass="0x068000"/>
              <nvlink target="0000:6d:00.0" count="2" tclass="0x068000"/>
              <nvlink target="0000:6f:00.0" count="2" tclass="0x068000"/>
              <nvlink target="0000:72:00.0" count="2" tclass="0x068000"/>
              <nvlink target="0000:6e:00.0" count="2" tclass="0x068000"/>
              <nvlink target="0000:71:00.0" count="2" tclass="0x068000"/>
            </gpu>
          </pci>
        </pci>
        <pci busid="0000:67:00.0" class="0x060400" link_speed="8 GT/s" link_width="16">
          <pci busid="0000:69:00.0" class="0x030200" link_speed="16 GT/s" link_width="16">
            <gpu dev="7" sm="80" rank="7" gdr="0">
              <nvlink target="0000:70:00.0" count="2" tclass="0x068000"/>
              <nvlink target="0000:6d:00.0" count="2" tclass="0x068000"/>
              <nvlink target="0000:6f:00.0" count="2" tclass="0x068000"/>
              <nvlink target="0000:72:00.0" count="2" tclass="0x068000"/>
              <nvlink target="0000:6e:00.0" count="2" tclass="0x068000"/>
              <nvlink target="0000:71:00.0" count="2" tclass="0x068000"/>
            </gpu>
          </pci>
        </pci>
      </pci>
    </pci>
  </cpu>
  <cpu numaid="1" affinity="00000000,00000000,00000000,00000000,00000000,00000000,00000000,ffffff00,0000ffff,ff000000" arch="x86_64" vendor="GenuineIntel" familyid="6" modelid="85">
    <pci busid="0000:86:00.1" class="0x020000" link_speed="8 GT/s" link_width="16">
      <nic type="infiniband">
        <net name="mlx5_5" port="1" guid="0x98039b0300772b1a" speed="100000" dev="0" gdr="0"/>
      </nic>
    </pci>
  </cpu>
</system>
