<system version="1">
  <cpu host_hash="0x301845e1a9645d22" numaid="1" affinity="ffff0000" arch="x86_64" vendor="AuthenticAMD" familyid="143" modelid="49">
    <pci busid="0000:81:00.0" class="0x030200" vendor="0x10de" device="0x1db6" subsystem_vendor="0x10de" subsystem_device="0x124a" link_speed="8.0 GT/s PCIe" link_width="16">
      <gpu dev="0" sm="70" rank="0" gdr="1"/>
    </pci>
  </cpu>
  <cpu host_hash="0x301845e1a9645d22" numaid="0" affinity="0000ffff" arch="x86_64" vendor="AuthenticAMD" familyid="143" modelid="49">
    <pci busid="0000:21:00.0" class="0x020700" vendor="0x15b3" device="0x1021" subsystem_vendor="0x15b3" subsystem_device="0x0079" link_speed="16.0 GT/s PCIe" link_width="16">
      <nic>
        <net name="mlx5_0" dev="0" speed="100000" port="1" latency="0.000000" guid="0x66b6640003d3ebe8" maxconn="131072" gdr="1"/>
      </nic>
    </pci>
    <pci busid="0000:21:00.1" class="0x020700" vendor="0x15b3" device="0x1021" subsystem_vendor="0x15b3" subsystem_device="0x0079" link_speed="16.0 GT/s PCIe" link_width="16">
      <nic>
        <net name="mlx5_1" dev="1" speed="100000" port="2" latency="0.000000" guid="0x66b6640003d3ebe8" maxconn="131072" gdr="1"/>
      </nic>
    </pci>
  </cpu>
</system>
