<system version="1">
  <cpu numaid="-1" arch="x86_64" vendor="GenuineIntel" familyid="6" modelid="85">
    <pci busid="0000:00:16.0" class="0x030200" link_speed="" link_width="0">
      <gpu dev="0" sm="70" rank="0" gdr="0">
        <nvlink target="0000:00:17.0" count="1" tclass="0x030200"/>
        <nvlink target="0000:00:19.0" count="2" tclass="0x030200"/>
        <nvlink target="0000:00:1a.0" count="2" tclass="0x030200"/>
        <nvlink target="0000:00:18.0" count="1" tclass="0x030200"/>
      </gpu>
    </pci>
    <pci busid="0000:00:17.0" class="0x030200" link_speed="" link_width="0">
      <gpu dev="1" sm="70" rank="1" gdr="0">
        <nvlink target="0000:00:1b.0" count="2" tclass="0x030200"/>
        <nvlink target="0000:00:18.0" count="2" tclass="0x030200"/>
        <nvlink target="0000:00:16.0" count="1" tclass="0x030200"/>
        <nvlink target="0000:00:19.0" count="1" tclass="0x030200"/>
      </gpu>
    </pci>
    <pci busid="0000:00:18.0" class="0x030200" link_speed="" link_width="0">
      <gpu dev="2" sm="70" rank="2" gdr="0">
        <nvlink target="0000:00:19.0" count="2" tclass="0x030200"/>
        <nvlink target="0000:00:1c.0" count="1" tclass="0x030200"/>
        <nvlink target="0000:00:17.0" count="2" tclass="0x030200"/>
        <nvlink target="0000:00:16.0" count="1" tclass="0x030200"/>
      </gpu>
    </pci>
    <pci busid="0000:00:19.0" class="0x030200" link_speed="" link_width="0">
      <gpu dev="3" sm="70" rank="3" gdr="0">
        <nvlink target="0000:00:16.0" count="2" tclass="0x030200"/>
        <nvlink target="0000:00:17.0" count="1" tclass="0x030200"/>
        <nvlink target="0000:00:18.0" count="2" tclass="0x030200"/>
        <nvlink target="0000:00:1d.0" count="1" tclass="0x030200"/>
      </gpu>
    </pci>
    <pci busid="0000:00:1a.0" class="0x030200" link_speed="" link_width="0">
      <gpu dev="4" sm="70" rank="4" gdr="0">
        <nvlink target="0000:00:16.0" count="2" tclass="0x030200"/>
        <nvlink target="0000:00:1b.0" count="1" tclass="0x030200"/>
        <nvlink target="0000:00:1c.0" count="1" tclass="0x030200"/>
        <nvlink target="0000:00:1d.0" count="2" tclass="0x030200"/>
      </gpu>
    </pci>
    <pci busid="0000:00:1b.0" class="0x030200" link_speed="" link_width="0">
      <gpu dev="5" sm="70" rank="5" gdr="0">
        <nvlink target="0000:00:1c.0" count="2" tclass="0x030200"/>
        <nvlink target="0000:00:1d.0" count="1" tclass="0x030200"/>
        <nvlink target="0000:00:1a.0" count="1" tclass="0x030200"/>
        <nvlink target="0000:00:17.0" count="2" tclass="0x030200"/>
      </gpu>
    </pci>
    <pci busid="0000:00:1c.0" class="0x030200" link_speed="" link_width="0">
      <gpu dev="6" sm="70" rank="6" gdr="0">
        <nvlink target="0000:00:1a.0" count="1" tclass="0x030200"/>
        <nvlink target="0000:00:1d.0" count="2" tclass="0x030200"/>
        <nvlink target="0000:00:1b.0" count="2" tclass="0x030200"/>
        <nvlink target="0000:00:18.0" count="1" tclass="0x030200"/>
      </gpu>
    </pci>
    <pci busid="0000:00:1d.0" class="0x030200" link_speed="" link_width="0">
      <gpu dev="7" sm="70" rank="7" gdr="0">
        <nvlink target="0000:00:19.0" count="1" tclass="0x030200"/>
        <nvlink target="0000:00:1a.0" count="2" tclass="0x030200"/>
        <nvlink target="0000:00:1c.0" count="2" tclass="0x030200"/>
        <nvlink target="0000:00:1b.0" count="1" tclass="0x030200"/>
      </gpu>
    </pci>
    <pci busid="0000:00:06.0" class="0x020000" link_speed="" link_width="0">
      <nic type="infiniband">
        <net name="efa_0" sys_guid="0000:0000:0000:0000" link_rate="100 Gb/sec (4X EDR)" dev="0" gdr="0"/>
      </nic>
    </pci>
  </cpu>
</system>
