<system version="1">
  <cpu numaid="1" affinity="00000000,00000000,00000000,ffff0000,00000000,00000000,00000000,ffff0000" arch="x86_64" vendor="AuthenticAMD" familyid="143" modelid="49">
    <pci busid="0000:41:00.0" class="0x060400" vendor="0x1000" device="0xc010" subsystem_vendor="0x1000" subsystem_device="0xa096" link_speed="16 GT/s" link_width="16">
      <pci busid="0000:49:00.0" class="0x060400" vendor="0x1000" device="0xc010" subsystem_vendor="0x1000" subsystem_device="0xa096" link_speed="16 GT/s" link_width="16">
        <pci busid="0000:4c:00.0" class="0x060400" vendor="0x1000" device="0xc010" subsystem_vendor="0x10de" subsystem_device="0x13b8" link_speed="16 GT/s" link_width="16">
          <pci busid="0000:4e:00.0" class="0x030200" vendor="0x10de" device="0x20b2" subsystem_vendor="0x10de" subsystem_device="0x1463" link_speed="16 GT/s" link_width="16">
            <gpu dev="3" sm="80" rank="0" gdr="1">
              <nvlink target="0000:c7:00.0" count="2" tclass="0x068000"/>
              <nvlink target="0000:c4:00.0" count="2" tclass="0x068000"/>
              <nvlink target="0000:c6:00.0" count="2" tclass="0x068000"/>
              <nvlink target="0000:c9:00.0" count="2" tclass="0x068000"/>
              <nvlink target="0000:c5:00.0" count="2" tclass="0x068000"/>
              <nvlink target="0000:c8:00.0" count="2" tclass="0x068000"/>
            </gpu>
          </pci>
        </pci>
        <pci busid="0000:4b:00.0" class="0x020700" vendor="0x15b3" device="0x101b" subsystem_vendor="0x15b3" subsystem_device="0x0007" link_speed="16 GT/s" link_width="16">
          <nic>
            <net name="mlx5_2" dev="2" speed="200000" port="1" guid="0x462ced00039f59b8" maxconn="1" gdr="1" coll="1"/>
          </nic>
        </pci>
      </pci>
      <pci busid="0000:50:00.0" class="0x060400" vendor="0x1000" device="0xc010" subsystem_vendor="0x1000" subsystem_device="0xa096" link_speed="16 GT/s" link_width="16">
        <pci busid="0000:54:00.0" class="0x020700" vendor="0x15b3" device="0x101b" subsystem_vendor="0x15b3" subsystem_device="0x0007" link_speed="16 GT/s" link_width="16">
          <nic>
            <net name="mlx5_3" dev="3" speed="200000" port="1" guid="0xa224ed00039f59b8" maxconn="1" gdr="1" coll="1"/>
          </nic>
        </pci>
      </pci>
    </pci>
  </cpu>
  <cpu numaid="3" affinity="00000000,00000000,ffff0000,00000000,00000000,00000000,ffff0000,00000000" arch="x86_64" vendor="AuthenticAMD" familyid="143" modelid="49">
    <pci busid="0000:01:00.0" class="0x060400" vendor="0x1000" device="0xc010" subsystem_vendor="0x1000" subsystem_device="0xa096" link_speed="16 GT/s" link_width="16">
      <pci busid="0000:0a:00.0" class="0x060400" vendor="0x1000" device="0xc010" subsystem_vendor="0x1000" subsystem_device="0xa096" link_speed="16 GT/s" link_width="16">
        <pci busid="0000:0c:00.0" class="0x020700" vendor="0x15b3" device="0x101b" subsystem_vendor="0x15b3" subsystem_device="0x0007" link_speed="16 GT/s" link_width="16">
          <nic>
            <net name="mlx5_0" dev="0" speed="200000" port="1" guid="0x60cf900039f59b8" maxconn="1" gdr="1" coll="1"/>
          </nic>
        </pci>
      </pci>
      <pci busid="0000:10:00.0" class="0x060400" vendor="0x1000" device="0xc010" subsystem_vendor="0x1000" subsystem_device="0xa096" link_speed="16 GT/s" link_width="16">
        <pci busid="0000:12:00.0" class="0x020700" vendor="0x15b3" device="0x101b" subsystem_vendor="0x15b3" subsystem_device="0x0007" link_speed="16 GT/s" link_width="16">
          <nic>
            <net name="mlx5_1" dev="1" speed="200000" port="1" guid="0xa624ed00039f59b8" maxconn="1" gdr="1" coll="1"/>
          </nic>
        </pci>
      </pci>
    </pci>
  </cpu>
  <cpu numaid="7" affinity="ffff0000,00000000,00000000,00000000,ffff0000,00000000,00000000,00000000" arch="x86_64" vendor="AuthenticAMD" familyid="143" modelid="49">
    <pci busid="0000:81:00.0" class="0x060400" vendor="0x1000" device="0xc010" subsystem_vendor="0x1000" subsystem_device="0xa096" link_speed="16 GT/s" link_width="16">
      <pci busid="0000:8b:00.0" class="0x060400" vendor="0x1000" device="0xc010" subsystem_vendor="0x1000" subsystem_device="0xa096" link_speed="16 GT/s" link_width="16">
        <pci busid="0000:8d:00.0" class="0x020700" vendor="0x15b3" device="0x101b" subsystem_vendor="0x15b3" subsystem_device="0x0007" link_speed="16 GT/s" link_width="16">
          <nic>
            <net name="mlx5_6" dev="4" speed="200000" port="1" guid="0xbe09f900039f59b8" maxconn="1" gdr="1" coll="1"/>
          </nic>
        </pci>
      </pci>
      <pci busid="0000:92:00.0" class="0x060400" vendor="0x1000" device="0xc010" subsystem_vendor="0x1000" subsystem_device="0xa096" link_speed="16 GT/s" link_width="16">
        <pci busid="0000:94:00.0" class="0x020700" vendor="0x15b3" device="0x101b" subsystem_vendor="0x15b3" subsystem_device="0x0007" link_speed="16 GT/s" link_width="16">
          <nic>
            <net name="mlx5_7" dev="5" speed="200000" port="1" guid="0x362ced00039f59b8" maxconn="1" gdr="1" coll="1"/>
          </nic>
        </pci>
      </pci>
    </pci>
  </cpu>
  <cpu numaid="5" affinity="00000000,ffff0000,00000000,00000000,00000000,ffff0000,00000000,00000000" arch="x86_64" vendor="AuthenticAMD" familyid="143" modelid="49">
    <pci busid="0000:b1:00.0" class="0x060400" vendor="0x1000" device="0xc010" subsystem_vendor="0x1000" subsystem_device="0xa096" link_speed="16 GT/s" link_width="16">
      <pci busid="0000:b8:00.0" class="0x060400" vendor="0x1000" device="0xc010" subsystem_vendor="0x1000" subsystem_device="0xa096" link_speed="16 GT/s" link_width="16">
        <pci busid="0000:ba:00.0" class="0x020700" vendor="0x15b3" device="0x101b" subsystem_vendor="0x15b3" subsystem_device="0x0007" link_speed="16 GT/s" link_width="16">
          <nic>
            <net name="mlx5_8" dev="6" speed="200000" port="1" guid="0xb226ed00039f59b8" maxconn="1" gdr="1" coll="1"/>
          </nic>
        </pci>
      </pci>
      <pci busid="0000:be:00.0" class="0x060400" vendor="0x1000" device="0xc010" subsystem_vendor="0x1000" subsystem_device="0xa096" link_speed="16 GT/s" link_width="16">
        <pci busid="0000:cc:00.0" class="0x020700" vendor="0x15b3" device="0x101b" subsystem_vendor="0x15b3" subsystem_device="0x0007" link_speed="16 GT/s" link_width="16">
          <nic>
            <net name="mlx5_9" dev="7" speed="200000" port="1" guid="0x7228ed00039f59b8" maxconn="1" gdr="1" coll="1"/>
          </nic>
        </pci>
      </pci>
    </pci>
  </cpu>
</system>
