<system version="1">
  <cpu numaid="0" affinity="00000000,000000ff,ffffffff,ffff0000,00000000,00ffffff,ffffffff" arch="x86_64" vendor="GenuineIntel" familyid="6" modelid="143">
    <pci busid="0000:16:00.0" class="0x060400" vendor="0x15b3" device="0x1979" subsystem_vendor="0x0000" subsystem_device="0x0000" link_speed="32.0 GT/s PCIe" link_width="16">
      <pci busid="0000:19:00.0" class="0x060400" vendor="0x15b3" device="0x1979" subsystem_vendor="0x0000" subsystem_device="0x0000" link_speed="32.0 GT/s PCIe" link_width="16">
        <pci busid="0000:1b:00.0" class="0x030200" vendor="0x10de" device="0x2330" subsystem_vendor="0x10de" subsystem_device="0x16c1" link_speed="32.0 GT/s PCIe" link_width="16">
          <gpu dev="0" sm="90" rank="0" gdr="1">
            <nvlink target="0000:0a:00.0" count="4" tclass="0x068000"/>
            <nvlink target="0000:07:00.0" count="4" tclass="0x068000"/>
          </gpu>
        </pci>
      </pci>
      <pci busid="0000:18:00.0" class="0x020700" vendor="0x15b3" device="0x1021" subsystem_vendor="0x15b3" subsystem_device="0x0050" link_speed="32.0 GT/s PCIe" link_width="16">
        <nic>
          <net name="mlx5_0" dev="0" speed="400000" port="1" latency="0.000000" guid="0xd28c2d0003d23fb8" maxconn="131072" gdr="1" coll="1"/>
        </nic>
      </pci>
    </pci>
    <pci busid="0000:3e:00.0" class="0x060400" vendor="0x15b3" device="0x1979" subsystem_vendor="0x0000" subsystem_device="0x0000" link_speed="32.0 GT/s PCIe" link_width="16">
      <pci busid="0000:41:00.0" class="0x060400" vendor="0x15b3" device="0x1979" subsystem_vendor="0x0000" subsystem_device="0x0000" link_speed="32.0 GT/s PCIe" link_width="16">
        <pci busid="0000:43:00.0" class="0x030200" vendor="0x10de" device="0x2330" subsystem_vendor="0x10de" subsystem_device="0x16c1" link_speed="32.0 GT/s PCIe" link_width="16">
          <gpu dev="1" sm="90" rank="1" gdr="1">
            <nvlink target="0000:0a:00.0" count="4" tclass="0x068000"/>
            <nvlink target="0000:07:00.0" count="4" tclass="0x068000"/>
          </gpu>
        </pci>
      </pci>
      <pci busid="0000:40:00.0" class="0x020700" vendor="0x15b3" device="0x1021" subsystem_vendor="0x15b3" subsystem_device="0x0050" link_speed="32.0 GT/s PCIe" link_width="16">
        <nic>
          <net name="mlx5_5" dev="1" speed="400000" port="1" latency="0.000000" guid="0xda8c2d0003d23fb8" maxconn="131072" gdr="1" coll="1"/>
        </nic>
      </pci>
    </pci>
    <pci busid="0000:4d:00.0" class="0x060400" vendor="0x15b3" device="0x1979" subsystem_vendor="0x0000" subsystem_device="0x0000" link_speed="32.0 GT/s PCIe" link_width="16">
      <pci busid="0000:50:00.0" class="0x060400" vendor="0x15b3" device="0x1979" subsystem_vendor="0x0000" subsystem_device="0x0000" link_speed="32.0 GT/s PCIe" link_width="16">
        <pci busid="0000:52:00.0" class="0x030200" vendor="0x10de" device="0x2330" subsystem_vendor="0x10de" subsystem_device="0x16c1" link_speed="32.0 GT/s PCIe" link_width="16">
          <gpu dev="2" sm="90" rank="2" gdr="1">
            <nvlink target="0000:0a:00.0" count="4" tclass="0x068000"/>
            <nvlink target="0000:07:00.0" count="4" tclass="0x068000"/>
          </gpu>
        </pci>
      </pci>
      <pci busid="0000:4f:00.0" class="0x020700" vendor="0x15b3" device="0x1021" subsystem_vendor="0x15b3" subsystem_device="0x0050" link_speed="32.0 GT/s PCIe" link_width="16">
        <nic>
          <net name="mlx5_6" dev="2" speed="400000" port="1" latency="0.000000" guid="0xd68c2d0003d23fb8" maxconn="131072" gdr="1" coll="1"/>
        </nic>
      </pci>
    </pci>
    <pci busid="0000:5c:00.0" class="0x060400" vendor="0x15b3" device="0x1979" subsystem_vendor="0x0000" subsystem_device="0x0000" link_speed="32.0 GT/s PCIe" link_width="16">
      <pci busid="0000:5f:00.0" class="0x060400" vendor="0x15b3" device="0x1979" subsystem_vendor="0x0000" subsystem_device="0x0000" link_speed="32.0 GT/s PCIe" link_width="16">
        <pci busid="0000:61:00.0" class="0x030200" vendor="0x10de" device="0x2330" subsystem_vendor="0x10de" subsystem_device="0x16c1" link_speed="32.0 GT/s PCIe" link_width="16">
          <gpu dev="3" sm="90" rank="3" gdr="1">
            <nvlink target="0000:0a:00.0" count="4" tclass="0x068000"/>
            <nvlink target="0000:07:00.0" count="4" tclass="0x068000"/>
          </gpu>
        </pci>
      </pci>
      <pci busid="0000:5e:00.0" class="0x020700" vendor="0x15b3" device="0x1021" subsystem_vendor="0x15b3" subsystem_device="0x0050" link_speed="32.0 GT/s PCIe" link_width="16">
        <nic>
          <net name="mlx5_7" dev="3" speed="400000" port="1" latency="0.000000" guid="0xce8c2d0003d23fb8" maxconn="131072" gdr="1" coll="1"/>
        </nic>
      </pci>
    </pci>
  </cpu>
  <cpu numaid="1" affinity="ffffffff,ffffff00,00000000,0000ffff,ffffffff,ff000000,00000000" arch="x86_64" vendor="GenuineIntel" familyid="6" modelid="143">
    <pci busid="0000:98:00.0" class="0x060400" vendor="0x15b3" device="0x1979" subsystem_vendor="0x0000" subsystem_device="0x0000" link_speed="32.0 GT/s PCIe" link_width="16">
      <pci busid="0000:9b:00.0" class="0x060400" vendor="0x15b3" device="0x1979" subsystem_vendor="0x0000" subsystem_device="0x0000" link_speed="32.0 GT/s PCIe" link_width="16">
        <pci busid="0000:9d:00.0" class="0x030200" vendor="0x10de" device="0x2330" subsystem_vendor="0x10de" subsystem_device="0x16c1" link_speed="32.0 GT/s PCIe" link_width="16">
          <gpu dev="4" sm="90" rank="4" gdr="1">
            <nvlink target="0000:0a:00.0" count="4" tclass="0x068000"/>
            <nvlink target="0000:07:00.0" count="4" tclass="0x068000"/>
          </gpu>
        </pci>
      </pci>
      <pci busid="0000:9a:00.0" class="0x020700" vendor="0x15b3" device="0x1021" subsystem_vendor="0x15b3" subsystem_device="0x0050" link_speed="32.0 GT/s PCIe" link_width="16">
        <nic>
          <net name="mlx5_8" dev="4" speed="400000" port="1" latency="0.000000" guid="0x42a32d0003d23fb8" maxconn="131072" gdr="1" coll="1"/>
        </nic>
      </pci>
    </pci>
    <pci busid="0000:be:00.0" class="0x060400" vendor="0x15b3" device="0x1979" subsystem_vendor="0x0000" subsystem_device="0x0000" link_speed="32.0 GT/s PCIe" link_width="16">
      <pci busid="0000:c1:00.0" class="0x060400" vendor="0x15b3" device="0x1979" subsystem_vendor="0x0000" subsystem_device="0x0000" link_speed="32.0 GT/s PCIe" link_width="16">
        <pci busid="0000:c3:00.0" class="0x030200" vendor="0x10de" device="0x2330" subsystem_vendor="0x10de" subsystem_device="0x16c1" link_speed="32.0 GT/s PCIe" link_width="16">
          <gpu dev="5" sm="90" rank="5" gdr="1">
            <nvlink target="0000:07:00.0" count="4" tclass="0x068000"/>
            <nvlink target="0000:0a:00.0" count="4" tclass="0x068000"/>
          </gpu>
        </pci>
      </pci>
      <pci busid="0000:c0:00.0" class="0x020700" vendor="0x15b3" device="0x1021" subsystem_vendor="0x15b3" subsystem_device="0x0050" link_speed="32.0 GT/s PCIe" link_width="16">
        <nic>
          <net name="mlx5_13" dev="5" speed="400000" port="1" latency="0.000000" guid="0x4aa32d0003d23fb8" maxconn="131072" gdr="1" coll="1"/>
        </nic>
      </pci>
    </pci>
    <pci busid="0000:cc:00.0" class="0x060400" vendor="0x15b3" device="0x1979" subsystem_vendor="0x0000" subsystem_device="0x0000" link_speed="32.0 GT/s PCIe" link_width="16">
      <pci busid="0000:cf:00.0" class="0x060400" vendor="0x15b3" device="0x1979" subsystem_vendor="0x0000" subsystem_device="0x0000" link_speed="32.0 GT/s PCIe" link_width="16">
        <pci busid="0000:d1:00.0" class="0x030200" vendor="0x10de" device="0x2330" subsystem_vendor="0x10de" subsystem_device="0x16c1" link_speed="32.0 GT/s PCIe" link_width="16">
          <gpu dev="6" sm="90" rank="6" gdr="1">
            <nvlink target="0000:0a:00.0" count="4" tclass="0x068000"/>
            <nvlink target="0000:07:00.0" count="4" tclass="0x068000"/>
          </gpu>
        </pci>
      </pci>
      <pci busid="0000:ce:00.0" class="0x020700" vendor="0x15b3" device="0x1021" subsystem_vendor="0x15b3" subsystem_device="0x0050" link_speed="32.0 GT/s PCIe" link_width="16">
        <nic>
          <net name="mlx5_14" dev="6" speed="400000" port="1" latency="0.000000" guid="0x46a32d0003d23fb8" maxconn="131072" gdr="1" coll="1"/>
        </nic>
      </pci>
    </pci>
    <pci busid="0000:da:00.0" class="0x060400" vendor="0x15b3" device="0x1979" subsystem_vendor="0x0000" subsystem_device="0x0000" link_speed="32.0 GT/s PCIe" link_width="16">
      <pci busid="0000:dd:00.0" class="0x060400" vendor="0x15b3" device="0x1979" subsystem_vendor="0x0000" subsystem_device="0x0000" link_speed="32.0 GT/s PCIe" link_width="16">
        <pci busid="0000:df:00.0" class="0x030200" vendor="0x10de" device="0x2330" subsystem_vendor="0x10de" subsystem_device="0x16c1" link_speed="32.0 GT/s PCIe" link_width="16">
          <gpu dev="7" sm="90" rank="7" gdr="1">
            <nvlink target="0000:07:00.0" count="4" tclass="0x068000"/>
            <nvlink target="0000:0a:00.0" count="4" tclass="0x068000"/>
          </gpu>
        </pci>
      </pci>
      <pci busid="0000:dc:00.0" class="0x020700" vendor="0x15b3" device="0x1021" subsystem_vendor="0x15b3" subsystem_device="0x0050" link_speed="32.0 GT/s PCIe" link_width="16">
        <nic>
          <net name="mlx5_15" dev="7" speed="400000" port="1" latency="0.000000" guid="0x3ea32d0003d23fb8" maxconn="131072" gdr="1" coll="1"/>
        </nic>
      </pci>
    </pci>
  </cpu>
</system>
